Repository yasanglass/kepko: changes, and which Codecov flags are due for each by the changed paths.
All: :resource, :foundation, :component, :persistence

codecov.yml:

coverage:
  status:
    project: true

component_management:
  individual_components:
    - component_id: resource
      name: ":resource"
      paths:
        - "resource/src/**"
    - component_id: foundation
      name: ":foundation"
      paths:
        - "foundation/src/**"
    - component_id: component
      name: ":component"
      paths:
        - "component/src/**"
    - component_id: persistence
      name: ":persistence"
      paths:
        - "persistence/src/**"

New translations strings.xml (Korean) Update translations (Korean)
  resource/src/commonMain/composeResources/values-ko-rKR/strings.xml
Due: :resource

New translations strings.xml (Dutch) Update translations (Dutch)
  resource/src/commonMain/composeResources/values-nl-rNL/strings.xml
Due: :resource

New translations strings.xml (Norwegian) Update translations (Norwegian)
  resource/src/commonMain/composeResources/values-no-rNO/strings.xml
Due: :resource

New translations strings.xml (Polish) Update translations (Polish)
  resource/src/commonMain/composeResources/values-pl-rPL/strings.xml
Due: :resource

New translations strings.xml (Portuguese) Update translations (Portuguese)
  resource/src/commonMain/composeResources/values-pt-rPT/strings.xml
Due: :resource

New translations strings.xml (Russian) Update translations (Russian)
  resource/src/commonMain/composeResources/values-ru-rRU/strings.xml
Due: :resource

New translations strings.xml (Slovak) Update translations (Slovak)
  resource/src/commonMain/composeResources/values-sk-rSK/strings.xml
Due: :resource

New translations strings.xml (Serbian (Cyrillic)) Update translations (Serbian (Cyrillic))
  resource/src/commonMain/composeResources/values-sr-rSP/strings.xml
Due: :resource

New translations strings.xml (Swedish) Update translations (Swedish)
  resource/src/commonMain/composeResources/values-sv-rSE/strings.xml
Due: :resource

New translations strings.xml (Turkish) Update translations (Turkish)
  resource/src/commonMain/composeResources/values-tr-rTR/strings.xml
Due: :resource

New translations strings.xml (Ukrainian) Update translations (Ukrainian)
  resource/src/commonMain/composeResources/values-uk-rUA/strings.xml
Due: :resource

New translations strings.xml (Chinese Simplified) Update translations (Chinese Simplified)
  resource/src/commonMain/composeResources/values-zh-rCN/strings.xml
Due: :resource

New translations strings.xml (Chinese Traditional) Update translations (Chinese Traditional)
  resource/src/commonMain/composeResources/values-zh-rTW/strings.xml
Due: :resource

New translations strings.xml (Vietnamese) Update translations (Vietnamese)
  resource/src/commonMain/composeResources/values-vi-rVN/strings.xml
Due: :resource

New translations strings.xml (Portuguese, Brazilian) Update translations (Portuguese, Brazilian)
  resource/src/commonMain/composeResources/values-pt-rBR/strings.xml
Due: :resource

New translations strings.xml (Persian) Update translations (Persian)
  resource/src/commonMain/composeResources/values-fa-rIR/strings.xml
Due: :resource

New translations strings.xml (Thai) Update translations (Thai)
  resource/src/commonMain/composeResources/values-th-rTH/strings.xml
Due: :resource

New translations strings.xml (English, United Kingdom) Update translations (English, United Kingdom)
  resource/src/commonMain/composeResources/values-en-rGB/strings.xml
Due: :resource

New translations strings.xml (Dari) Update translations (Dari)
  resource/src/commonMain/composeResources/values-fa-rAF/strings.xml
Due: :resource

New translations strings.xml (Pashto) Update translations (Pashto)
  resource/src/commonMain/composeResources/values-ps-rAF/strings.xml
Due: :resource

Update Translations [skip ci] (#43)
  resource/src/commonMain/composeResources/values-af-rZA/strings.xml
  resource/src/commonMain/composeResources/values-ar-rSA/strings.xml
  resource/src/commonMain/composeResources/values-ca-rES/strings.xml
  resource/src/commonMain/composeResources/values-cs-rCZ/strings.xml
  resource/src/commonMain/composeResources/values-da-rDK/strings.xml
  resource/src/commonMain/composeResources/values-de-rDE/strings.xml
  resource/src/commonMain/composeResources/values-el-rGR/strings.xml
  resource/src/commonMain/composeResources/values-en-rGB/strings.xml
  resource/src/commonMain/composeResources/values-es-rES/strings.xml
  resource/src/commonMain/composeResources/values-fa-rAF/strings.xml
  resource/src/commonMain/composeResources/values-fa-rIR/strings.xml
  resource/src/commonMain/composeResources/values-fi-rFI/strings.xml
  resource/src/commonMain/composeResources/values-fr-rFR/strings.xml
  resource/src/commonMain/composeResources/values-hu-rHU/strings.xml
  resource/src/commonMain/composeResources/values-it-rIT/strings.xml
  resource/src/commonMain/composeResources/values-iw-rIL/strings.xml
  resource/src/commonMain/composeResources/values-ja-rJP/strings.xml
  resource/src/commonMain/composeResources/values-ko-rKR/strings.xml
  resource/src/commonMain/composeResources/values-nl-rNL/strings.xml
  resource/src/commonMain/composeResources/values-no-rNO/strings.xml
  resource/src/commonMain/composeResources/values-pl-rPL/strings.xml
  resource/src/commonMain/composeResources/values-ps-rAF/strings.xml
  resource/src/commonMain/composeResources/values-pt-rBR/strings.xml
  resource/src/commonMain/composeResources/values-pt-rPT/strings.xml
  resource/src/commonMain/composeResources/values-ro-rRO/strings.xml
  resource/src/commonMain/composeResources/values-ru-rRU/strings.xml
  resource/src/commonMain/composeResources/values-sk-rSK/strings.xml
  resource/src/commonMain/composeResources/values-sr-rSP/strings.xml
  resource/src/commonMain/composeResources/values-sv-rSE/strings.xml
  resource/src/commonMain/composeResources/values-th-rTH/strings.xml
  resource/src/commonMain/composeResources/values-tr-rTR/strings.xml
  resource/src/commonMain/composeResources/values-uk-rUA/strings.xml
  resource/src/commonMain/composeResources/values-vi-rVN/strings.xml
  resource/src/commonMain/composeResources/values-zh-rCN/strings.xml
  resource/src/commonMain/composeResources/values-zh-rTW/strings.xml
Due: :resource

Make `PersistentPreferenceThemeContent` public
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreen.kt
Due: :persistence

Reduce PreferenceContainer horizontal padding from 24dp to 20dp
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceContainer.kt
Due: :component

Improve README preview screenshots and formatting
  README.md
  sample/composeApp/assets/readme/PersistentPreferenceThemeScreenDarkReadmePreview.png
  sample/composeApp/assets/readme/PersistentPreferenceThemeScreenLightReadmePreview.png
  sample/composeApp/assets/readme/PersistentPreferenceThemeScreenReadmePreview.png
  sample/composeApp/src/jvmTest/kotlin/glass/yasan/kepko/sample/readme/PersistenceReadmePreview.kt
Due: none

Bump version to 1.3.8
  build.gradle.kts
Due: none

New translations strings.xml (German) Update translations (German)
  resource/src/commonMain/composeResources/values-de-rDE/strings.xml
Due: :resource

Update Gradle Wrapper from 9.3.1 to 9.4.0
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Due: none

Only export approved files from Crowdin
  crowdin.yml
Due: none

Update Translations [skip ci] (#46)
  resource/src/commonMain/composeResources/values-de-rDE/strings.xml
Due: :resource

Stop marking grayscale pref switch as experimental
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreen.kt
Due: :persistence

Fix broken README images on Dokka webpage
  README.md
Due: none

Default `contentDescription` in `Icon` to null
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Icon.kt
Due: :component

Create `PreferenceRadioGroupPickerChip` component
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceRadioGroupPickerChip.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/HomeScreen.kt
Due: :component

Add `icon` to `PreferenceRadioGroupItem`
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceRadioGroup.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceRadioGroupItem.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceRadioGroupPicker.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceRadioGroupSheet.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/HomeScreen.kt
Due: :component

Bump version to 1.3.9
  build.gradle.kts
Due: none

New translations strings.xml (Catalan) Update translations (Catalan)
  resource/src/commonMain/composeResources/values-ca-rES/strings.xml
Due: :resource

New translations strings.xml (Czech) Update translations (Czech)
  resource/src/commonMain/composeResources/values-cs-rCZ/strings.xml
Due: :resource

New translations strings.xml (Italian) Update translations (Italian)
  resource/src/commonMain/composeResources/values-it-rIT/strings.xml
Due: :resource
