Repository yasanglass/kepko: changes, and which Codecov flags are due for each by the changed paths.
All: :resource, :foundation, :component, :persistence

New translations strings.xml (Turkish) Update translations (Turkish)
  resource/src/commonMain/composeResources/values-tr-rTR/strings.xml
Due: :resource

New translations strings.xml (Ukrainian) Update translations (Ukrainian)
  resource/src/commonMain/composeResources/values-uk-rUA/strings.xml
Due: :resource

New translations strings.xml (Chinese Simplified) Update translations (Chinese Simplified)
  resource/src/commonMain/composeResources/values-zh-rCN/strings.xml
Due: :resource

New translations strings.xml (Chinese Traditional) Update translations (Chinese Traditional)
  resource/src/commonMain/composeResources/values-zh-rTW/strings.xml
Due: :resource

New translations strings.xml (Vietnamese) Update translations (Vietnamese)
  resource/src/commonMain/composeResources/values-vi-rVN/strings.xml
Due: :resource

New translations strings.xml (Portuguese, Brazilian) Update translations (Portuguese, Brazilian)
  resource/src/commonMain/composeResources/values-pt-rBR/strings.xml
Due: :resource

New translations strings.xml (Persian) Update translations (Persian)
  resource/src/commonMain/composeResources/values-fa-rIR/strings.xml
Due: :resource

New translations strings.xml (Thai) Update translations (Thai)
  resource/src/commonMain/composeResources/values-th-rTH/strings.xml
Due: :resource

New translations strings.xml (English, United Kingdom) Update translations (English, United Kingdom)
  resource/src/commonMain/composeResources/values-en-rGB/strings.xml
Due: :resource

New translations strings.xml (Dari) Update translations (Dari)
  resource/src/commonMain/composeResources/values-fa-rAF/strings.xml
Due: :resource

New translations strings.xml (Pashto) Update translations (Pashto)
  resource/src/commonMain/composeResources/values-ps-rAF/strings.xml
Due: :resource

Revert "Set ExperimentalKepkoApi's opt-in level to warning"
  foundation/src/commonMain/kotlin/glass/yasan/kepko/foundation/annotation/ExperimentalKepkoApi.kt
Due: :foundation

Add missing opt-in for ExperimentalKepkoApi
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentKepkoTheme.kt
  persistence/src/jvmTest/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreenTest.kt
Due: :persistence

Create `InternalKepkoApi` annotation
  component/build.gradle.kts
  foundation/build.gradle.kts
  foundation/src/commonMain/kotlin/glass/yasan/kepko/foundation/annotation/InternalKepkoApi.kt
  persistence/build.gradle.kts
  resource/build.gradle.kts
  sample/androidApp/build.gradle.kts
  sample/composeApp/build.gradle.kts
Due: :foundation

Create utility functions for `Color`
  foundation/src/commonMain/kotlin/glass/yasan/kepko/foundation/color/ColorExtensions.kt
Due: :foundation

Make content color mappings more reliable
  foundation/src/commonMain/kotlin/glass/yasan/kepko/foundation/color/ContentColor.kt
Due: :foundation

Put components readme segment above palette segment
  README.md
Due: none

Add new icons
  resource/src/commonMain/composeResources/drawable/ic_new_window.xml
  resource/src/commonMain/composeResources/drawable/ic_open_in_browser.xml
  resource/src/commonMain/composeResources/drawable/ic_open_in_new.xml
  resource/src/commonMain/composeResources/drawable/ic_rocket.xml
  resource/src/commonMain/composeResources/drawable/ic_rocket_launch.xml
  resource/src/commonMain/composeResources/drawable/ic_shape_line.xml
  resource/src/commonMain/composeResources/drawable/ic_shapes.xml
  resource/src/commonMain/kotlin/glass/yasan/kepko/resource/Icons.kt
Due: :resource

Add snapshot tests for Icons
  .gitattributes
  .github/workflows/snapshots.yml
  .run/Clean Record Snapshots.run.xml
  .run/Verify Snapshots.run.xml
  resource/build.gradle.kts
  resource/src/jvmTest/kotlin/glass/yasan/kepko/resource/IconsSnapshotTests.kt
Due: :resource

Add git hooks for detekt pre-commit check
  scripts/hooks/pre-commit
  scripts/setup-hooks.sh
Due: none

Clean up dependencies
  component/build.gradle.kts
  foundation/build.gradle.kts
  gradle/libs.versions.toml
  persistence/build.gradle.kts
  resource/build.gradle.kts
  sample/composeApp/build.gradle.kts
Due: none

Add auto awesome icon
  resource/src/commonMain/composeResources/drawable/ic_auto_awesome.xml
  resource/src/commonMain/kotlin/glass/yasan/kepko/resource/Icons.kt
  resource/src/jvmTest/snapshots/icon_autoAwesome.png
Due: :resource

Replace preview annotation with non-deprecated one
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreviewWithTest.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PreviewWithTest.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/SampleApp.kt
  sample/composeApp/src/jvmTest/kotlin/glass/yasan/kepko/sample/readme/ReadmePreview.kt
Due: :component, :persistence

Revert "Replace preview annotation with non-deprecated one"
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreviewWithTest.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PreviewWithTest.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/SampleApp.kt
  sample/composeApp/src/jvmTest/kotlin/glass/yasan/kepko/sample/readme/ReadmePreview.kt
Due: :component, :persistence

Move SystemBarColorsEffect into foundation module
  foundation/build.gradle.kts
  foundation/src/androidMain/kotlin/glass/yasan/kepko/foundation/system/SystemBarColorsEffect.android.kt
  foundation/src/commonMain/kotlin/glass/yasan/kepko/foundation/system/SystemBarColorsEffect.kt
  foundation/src/iosMain/kotlin/glass/yasan/kepko/foundation/system/SystemBarColorsEffect.ios.kt
  foundation/src/nonMobileMain/kotlin/glass/yasan/kepko/foundation/system/SystemBarColorsEffect.nonMobile.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/SampleApp.kt
Due: :foundation

Reapply "Replace preview annotation with non-deprecated one"
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreviewWithTest.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PreviewWithTest.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/SampleApp.kt
  sample/composeApp/src/jvmTest/kotlin/glass/yasan/kepko/sample/readme/ReadmePreview.kt
Due: :component, :persistence

Fix dependency issues for compose tooling
  component/build.gradle.kts
  foundation/build.gradle.kts
  gradle/libs.versions.toml
  persistence/build.gradle.kts
  sample/composeApp/build.gradle.kts
Due: none

Remove unused jetbrains-compose-components-ui-tooling-preview dependency
  gradle/libs.versions.toml
Due: none

Update Kotlin to 2.3.20
  gradle/libs.versions.toml
  kotlin-js-store/yarn.lock
Due: none

Improve system bar color APIs
  foundation/src/androidMain/kotlin/glass/yasan/kepko/foundation/system/SystemBarColorsEffect.android.kt
  foundation/src/commonMain/kotlin/glass/yasan/kepko/foundation/system/SystemBarColorsEffect.kt
  foundation/src/iosMain/kotlin/glass/yasan/kepko/foundation/system/SystemBarColorsEffect.ios.kt
  foundation/src/nonMobileMain/kotlin/glass/yasan/kepko/foundation/system/SystemBarColorsEffect.nonMobile.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/SampleApp.kt
Due: :foundation

Bump version to 1.3.11
  build.gradle.kts
Due: none

Shorten job name for context7 in publish workflow
  .github/workflows/publish.yml
Due: none

Fix `size` param not being used in some of `Icon` components
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Icon.kt
Due: :component

Bump version to 1.3.12
  build.gradle.kts
Due: none

Add persistent outline thickness preference to theme screen
  foundation/src/commonMain/kotlin/glass/yasan/kepko/foundation/dimension/DimensionTokens.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistenceManager.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentKepkoTheme.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreen.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/internal/PersistenceManagerImpl.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/internal/PreviewPersistenceManager.kt
  resource/src/commonMain/composeResources/values/strings.xml
  resource/src/commonMain/kotlin/glass/yasan/kepko/resource/Strings.kt
Due: :resource, :foundation, :persistence

New translations strings.xml (Romanian) Update translations (Romanian)
  resource/src/commonMain/composeResources/values-ro-rRO/strings.xml
Due: :resource

New translations strings.xml (French) Update translations (French)
  resource/src/commonMain/composeResources/values-fr-rFR/strings.xml
Due: :resource

New translations strings.xml (Spanish) Update translations (Spanish)
  resource/src/commonMain/composeResources/values-es-rES/strings.xml
Due: :resource

New translations strings.xml (Afrikaans) Update translations (Afrikaans)
  resource/src/commonMain/composeResources/values-af-rZA/strings.xml
Due: :resource

New translations strings.xml (Arabic) Update translations (Arabic)
  resource/src/commonMain/composeResources/values-ar-rSA/strings.xml
Due: :resource

Path conditions:
  :resource: any of: resource/src/**
  :foundation: any of: foundation/src/**
  :component: any of: component/src/**
  :persistence: any of: persistence/src/**
