Repository yasanglass/kepko: changes, and which Codecov flags are due for each by the changed paths.
All: :resource, :foundation, :component, :persistence

codecov.yml:

coverage:
  status:
    project: true

component_management:
  individual_components:
    - component_id: resource
      name: ":resource"
      paths:
        - "resource/src/**"
    - component_id: foundation
      name: ":foundation"
      paths:
        - "foundation/src/**"
    - component_id: component
      name: ":component"
      paths:
        - "component/src/**"
    - component_id: persistence
      name: ":persistence"
      paths:
        - "persistence/src/**"

New translations strings.xml (Japanese)
  resource/src/commonMain/composeResources/values-ja-rJP/strings.xml
Due: :resource

New translations strings.xml (Thai)
  resource/src/commonMain/composeResources/values-th-rTH/strings.xml
Due: :resource

New translations strings.xml (Czech)
  resource/src/commonMain/composeResources/values-cs-rCZ/strings.xml
Due: :resource

New translations strings.xml (Vietnamese)
  resource/src/commonMain/composeResources/values-vi-rVN/strings.xml
Due: :resource

New translations strings.xml (Dutch)
  resource/src/commonMain/composeResources/values-nl-rNL/strings.xml
Due: :resource

New translations strings.xml (Chinese Traditional)
  resource/src/commonMain/composeResources/values-zh-rTW/strings.xml
Due: :resource

New translations strings.xml (Russian)
  resource/src/commonMain/composeResources/values-ru-rRU/strings.xml
Due: :resource

New translations strings.xml (Italian)
  resource/src/commonMain/composeResources/values-it-rIT/strings.xml
Due: :resource

New translations strings.xml (Pashto)
  resource/src/commonMain/composeResources/values-ps-rAF/strings.xml
Due: :resource

New translations strings.xml (Romanian)
  resource/src/commonMain/composeResources/values-ro-rRO/strings.xml
Due: :resource

New translations strings.xml (Greek)
  resource/src/commonMain/composeResources/values-el-rGR/strings.xml
Due: :resource

New translations strings.xml (Norwegian)
  resource/src/commonMain/composeResources/values-no-rNO/strings.xml
Due: :resource

New translations strings.xml (English, United Kingdom)
  resource/src/commonMain/composeResources/values-en-rGB/strings.xml
Due: :resource

New translations strings.xml (Slovak)
  resource/src/commonMain/composeResources/values-sk-rSK/strings.xml
Due: :resource

New translations strings.xml (German)
  resource/src/commonMain/composeResources/values-de-rDE/strings.xml
Due: :resource

New translations strings.xml (Spanish)
  resource/src/commonMain/composeResources/values-es-rES/strings.xml
Due: :resource

New translations strings.xml (French)
  resource/src/commonMain/composeResources/values-fr-rFR/strings.xml
Due: :resource

New translations strings.xml (Chinese Simplified)
  resource/src/commonMain/composeResources/values-zh-rCN/strings.xml
Due: :resource

New translations strings.xml (Polish)
  resource/src/commonMain/composeResources/values-pl-rPL/strings.xml
Due: :resource

New translations strings.xml (Danish)
  resource/src/commonMain/composeResources/values-da-rDK/strings.xml
Due: :resource

Prepare for Android TV support
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ButtonPrimitive.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/CheckboxText.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/IconButton.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/KeyValue.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceCheckbox.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceContainer.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceRadioButton.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceRadioGroup.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceSlider.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceSwitch.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreviewFocus.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Scaffold.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ScaffoldFocus.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/SegmentedPicker.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Slider.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/TextPill.kt
  foundation/src/commonMain/kotlin/glass/yasan/kepko/foundation/border/FocusBorder.kt
  foundation/src/commonMain/kotlin/glass/yasan/kepko/foundation/dimension/DimensionTokens.kt
Due: :foundation, :component

Fixes & clean up
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreviewFocus.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ScaffoldFocus.kt
  foundation/src/commonMain/kotlin/glass/yasan/kepko/foundation/border/FocusBorder.kt
Due: :foundation, :component

Prepare for Android TV support (#84)
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ButtonPrimitive.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/CheckboxText.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/IconButton.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/KeyValue.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceCheckbox.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceContainer.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceRadioButton.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceRadioGroup.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceSlider.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceSwitch.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreviewFocus.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Scaffold.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ScaffoldFocus.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/SegmentedPicker.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Slider.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/TextPill.kt
  component/src/jvmTest/snapshots/IconButtonFocusedDarkPreview.png
  component/src/jvmTest/snapshots/IconButtonFocusedLightPreview.png
  component/src/jvmTest/snapshots/PreferenceSwitchFocusedDarkPreview.png
  component/src/jvmTest/snapshots/PreferenceSwitchFocusedLightPreview.png
  foundation/src/commonMain/kotlin/glass/yasan/kepko/foundation/border/FocusBorder.kt
  foundation/src/commonMain/kotlin/glass/yasan/kepko/foundation/dimension/DimensionTokens.kt
Due: :foundation, :component

Add an opt-in max width for Scaffold content
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Scaffold.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ScaffoldContentMaxWidth.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ScaffoldFocus.kt
Due: :component

Add a selected state to Button
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Button.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ButtonDefaults.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeButton.kt
Due: :component, :persistence

Allow hiding title bar back buttons
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ScaffoldFocus.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/TitleBar.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/TitleBarBackButton.kt
Due: :component

Show the sample in a list-detail layout on large windows
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/HomeScreen.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/SampleNavDisplay.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/SampleNavDisplayDefaults.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/navigation/ListDetailDefaults.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/navigation/ListDetailPaneState.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/navigation/ListDetailScene.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/navigation/ListDetailSceneStrategy.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/navigation/ListDetailTransitions.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/navigation/WindowSize.kt
Due: none

Move the sample app to Navigation 3
  gradle/libs.versions.toml
  sample/composeApp/build.gradle.kts
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/HomeScreen.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/Route.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/SampleApp.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/SampleNavDisplay.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/SampleNavDisplayDefaults.kt
  sample/composeApp/src/jvmTest/kotlin/glass/yasan/kepko/sample/readme/SampleReadmePreview.kt
Due: none

Scaffold content width (#85)
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Button.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ButtonDefaults.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Scaffold.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ScaffoldContentMaxWidth.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ScaffoldFocus.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/TitleBar.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/TitleBarBackButton.kt
  gradle/libs.versions.toml
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeButton.kt
  sample/composeApp/build.gradle.kts
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/HomeScreen.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/Route.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/SampleApp.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/SampleNavDisplay.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/SampleNavDisplayDefaults.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/navigation/ListDetailDefaults.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/navigation/ListDetailPaneState.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/navigation/ListDetailScene.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/navigation/ListDetailSceneStrategy.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/navigation/ListDetailTransitions.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/navigation/WindowSize.kt
  sample/composeApp/src/jvmTest/kotlin/glass/yasan/kepko/sample/readme/SampleReadmePreview.kt
Due: :component, :persistence

Persist the list pane width
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistenceManager.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/internal/PersistenceManagerImpl.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/internal/PreviewPersistenceManager.kt
  persistence/src/commonTest/kotlin/glass/yasan/kepko/persistence/PersistenceManagerTest.kt
Due: :persistence

Save the list-detail divider position
  README.md
  navigation/build.gradle.kts
  navigation/src/commonMain/kotlin/glass/yasan/kepko/navigation/ListDetailPaneState.kt
  navigation/src/commonMain/kotlin/glass/yasan/kepko/navigation/ListDetailScene.kt
  navigation/src/commonTest/kotlin/glass/yasan/kepko/navigation/ListDetailPaneStateTest.kt
Due: none

Move the list-detail layout into a navigation module
  README.md
  build.gradle.kts
  gradle/libs.versions.toml
  navigation/build.gradle.kts
  navigation/src/commonMain/kotlin/glass/yasan/kepko/navigation/ListDetailDefaults.kt
  navigation/src/commonMain/kotlin/glass/yasan/kepko/navigation/ListDetailPaneState.kt
  navigation/src/commonMain/kotlin/glass/yasan/kepko/navigation/ListDetailScene.kt
  navigation/src/commonMain/kotlin/glass/yasan/kepko/navigation/ListDetailSceneStrategy.kt
  navigation/src/commonMain/kotlin/glass/yasan/kepko/navigation/ListDetailTransitions.kt
  navigation/src/commonMain/kotlin/glass/yasan/kepko/navigation/WindowSize.kt
  navigation/src/commonTest/kotlin/glass/yasan/kepko/navigation/ListDetailSceneStrategyTest.kt
  navigation/src/commonTest/kotlin/glass/yasan/kepko/navigation/WindowSizeTest.kt
  sample/composeApp/build.gradle.kts
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/SampleNavDisplay.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/navigation/WindowSize.kt
  settings.gradle.kts
Due: none

Keep list-detail metadata keys distinct on JS
  navigation/src/commonMain/kotlin/glass/yasan/kepko/navigation/ListDetailSceneStrategy.kt
Due: none

Move the detekt config into the repository
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/regenerate-snapshots.yml
  .gitmodules
  detekt/detekt-kepko.yml
  detekt/detekt.yml
Due: none

Update Kotlin to 2.4.21 and Gradle to 9.8.1
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Due: none

Add Adoptium JDK 25 toolchain URLs to the daemon criteria
  gradle/gradle-daemon-jvm.properties
Due: none

Migrate to detekt 2.0.0-alpha.6
  build.gradle.kts
  detekt/detekt-kepko.yml
  detekt/detekt.yml
  gradle/libs.versions.toml
Due: none
