Repository yasanglass/kepko: changes, and which Codecov flags are due for each by the changed paths.
All: :resource, :foundation, :component, :persistence

codecov.yml:

coverage:
  status:
    project: true

component_management:
  individual_components:
    - component_id: resource
      name: ":resource"
      paths:
        - "resource/src/**"
    - component_id: foundation
      name: ":foundation"
      paths:
        - "foundation/src/**"
    - component_id: component
      name: ":component"
      paths:
        - "component/src/**"
    - component_id: persistence
      name: ":persistence"
      paths:
        - "persistence/src/**"

Add `restartAlt` icon
  resource/src/commonMain/composeResources/drawable/ic_restart_alt.xml
  resource/src/commonMain/kotlin/glass/yasan/kepko/resource/Icons.kt
Due: :resource

Allow passing interactionSource and indication to IconButton
  component/src/commonMain/kotlin/glass/yasan/kepko/component/IconButton.kt
Due: :component

Allow reseting to default prefs and improve default pref handling
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistenceManager.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreen.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/internal/PersistenceManagerImpl.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/internal/PreviewPersistenceManager.kt
  persistence/src/commonTest/kotlin/glass/yasan/kepko/persistence/PersistenceManagerTest.kt
  resource/src/commonMain/composeResources/values/strings.xml
  resource/src/commonMain/kotlin/glass/yasan/kepko/resource/Strings.kt
Due: :resource, :persistence

Animate outline and roundness theme transitions
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentKepkoTheme.kt
Due: :persistence

Add prefix and suffix support to PreferenceSlider value label
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceSlider.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreen.kt
Due: :component, :persistence

Use finer roundness steps in theme preferences
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreen.kt
Due: :persistence

Remove border from HomeScreen color palette boxes
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/HomeScreen.kt
Due: none

Animate style changes on PersistentPreferenceThemeScreen
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/AnimatedPersistentKepkoTheme.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentKepkoTheme.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreen.kt
Due: :persistence

Animate Slider value changes
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Slider.kt
Due: :component

Add DeepWiki badge to README
  README.md
Due: none

Fix component image sizing in Dokka by using explicit widths
  README.md
Due: none

Bump version to 1.4.0
  build.gradle.kts
Due: none

Add IconScreen to sample app
  resource/src/commonMain/kotlin/glass/yasan/kepko/resource/util/IconUtils.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/HomeScreen.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/IconScreen.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/Route.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/SampleApp.kt
  sample/composeApp/src/jvmTest/kotlin/glass/yasan/kepko/sample/readme/SampleReadmePreview.kt
Due: :resource

Bump version to 1.4.1
  build.gradle.kts
Due: none

Consolidate CI into a single linear workflow
  .github/workflows/android.yml
  .github/workflows/ci.yml
  .github/workflows/detekt.yml
  .github/workflows/docs.yml
  .github/workflows/ios.yml
  .github/workflows/js.yml
  .github/workflows/jvm.yml
  .github/workflows/macos.yml
  .github/workflows/snapshots.yml
  .github/workflows/wasm.yml
Due: none

New translations strings.xml (Romanian) Update translations (Romanian)
  resource/src/commonMain/composeResources/values-ro-rRO/strings.xml
Due: :resource

New translations strings.xml (French) Update translations (French)
  resource/src/commonMain/composeResources/values-fr-rFR/strings.xml
Due: :resource

New translations strings.xml (Spanish) Update translations (Spanish)
  resource/src/commonMain/composeResources/values-es-rES/strings.xml
Due: :resource

New translations strings.xml (Afrikaans) Update translations (Afrikaans)
  resource/src/commonMain/composeResources/values-af-rZA/strings.xml
Due: :resource

New translations strings.xml (Arabic) Update translations (Arabic)
  resource/src/commonMain/composeResources/values-ar-rSA/strings.xml
Due: :resource

New translations strings.xml (Catalan) Update translations (Catalan)
  resource/src/commonMain/composeResources/values-ca-rES/strings.xml
Due: :resource

New translations strings.xml (Czech) Update translations (Czech)
  resource/src/commonMain/composeResources/values-cs-rCZ/strings.xml
Due: :resource

New translations strings.xml (Danish) Update translations (Danish)
  resource/src/commonMain/composeResources/values-da-rDK/strings.xml
Due: :resource

New translations strings.xml (German) Update translations (German)
  resource/src/commonMain/composeResources/values-de-rDE/strings.xml
Due: :resource

New translations strings.xml (Greek) Update translations (Greek)
  resource/src/commonMain/composeResources/values-el-rGR/strings.xml
Due: :resource

New translations strings.xml (Finnish) Update translations (Finnish)
  resource/src/commonMain/composeResources/values-fi-rFI/strings.xml
Due: :resource

New translations strings.xml (Hebrew) Update translations (Hebrew)
  resource/src/commonMain/composeResources/values-iw-rIL/strings.xml
Due: :resource

New translations strings.xml (Hungarian) Update translations (Hungarian)
  resource/src/commonMain/composeResources/values-hu-rHU/strings.xml
Due: :resource

New translations strings.xml (Italian) Update translations (Italian)
  resource/src/commonMain/composeResources/values-it-rIT/strings.xml
Due: :resource

New translations strings.xml (Japanese) Update translations (Japanese)
  resource/src/commonMain/composeResources/values-ja-rJP/strings.xml
Due: :resource

New translations strings.xml (Korean) Update translations (Korean)
  resource/src/commonMain/composeResources/values-ko-rKR/strings.xml
Due: :resource

New translations strings.xml (Dutch) Update translations (Dutch)
  resource/src/commonMain/composeResources/values-nl-rNL/strings.xml
Due: :resource

New translations strings.xml (Norwegian) Update translations (Norwegian)
  resource/src/commonMain/composeResources/values-no-rNO/strings.xml
Due: :resource

New translations strings.xml (Polish) Update translations (Polish)
  resource/src/commonMain/composeResources/values-pl-rPL/strings.xml
Due: :resource

New translations strings.xml (Portuguese) Update translations (Portuguese)
  resource/src/commonMain/composeResources/values-pt-rPT/strings.xml
Due: :resource

New translations strings.xml (Russian) Update translations (Russian)
  resource/src/commonMain/composeResources/values-ru-rRU/strings.xml
Due: :resource

New translations strings.xml (Slovak) Update translations (Slovak)
  resource/src/commonMain/composeResources/values-sk-rSK/strings.xml
Due: :resource

New translations strings.xml (Serbian (Cyrillic)) Update translations (Serbian (Cyrillic))
  resource/src/commonMain/composeResources/values-sr-rSP/strings.xml
Due: :resource

New translations strings.xml (Swedish) Update translations (Swedish)
  resource/src/commonMain/composeResources/values-sv-rSE/strings.xml
Due: :resource
