Repository yasanglass/kepko: changes, and which Codecov flags are due for each by the changed paths.
All: :resource, :foundation, :component, :persistence

New translations strings.xml (Czech)
  resource/src/commonMain/composeResources/values-cs-rCZ/strings.xml
Due: :resource

New translations strings.xml (Danish)
  resource/src/commonMain/composeResources/values-da-rDK/strings.xml
Due: :resource

New translations strings.xml (German)
  resource/src/commonMain/composeResources/values-de-rDE/strings.xml
Due: :resource

New translations strings.xml (Greek)
  resource/src/commonMain/composeResources/values-el-rGR/strings.xml
Due: :resource

New translations strings.xml (Finnish)
  resource/src/commonMain/composeResources/values-fi-rFI/strings.xml
Due: :resource

New translations strings.xml (Hebrew)
  resource/src/commonMain/composeResources/values-iw-rIL/strings.xml
Due: :resource

New translations strings.xml (Hungarian)
  resource/src/commonMain/composeResources/values-hu-rHU/strings.xml
Due: :resource

New translations strings.xml (Italian)
  resource/src/commonMain/composeResources/values-it-rIT/strings.xml
Due: :resource

New translations strings.xml (Japanese)
  resource/src/commonMain/composeResources/values-ja-rJP/strings.xml
Due: :resource

New translations strings.xml (Korean)
  resource/src/commonMain/composeResources/values-ko-rKR/strings.xml
Due: :resource

New translations strings.xml (Dutch)
  resource/src/commonMain/composeResources/values-nl-rNL/strings.xml
Due: :resource

New translations strings.xml (Norwegian)
  resource/src/commonMain/composeResources/values-no-rNO/strings.xml
Due: :resource

New translations strings.xml (Polish)
  resource/src/commonMain/composeResources/values-pl-rPL/strings.xml
Due: :resource

New translations strings.xml (Portuguese)
  resource/src/commonMain/composeResources/values-pt-rPT/strings.xml
Due: :resource

New translations strings.xml (Russian)
  resource/src/commonMain/composeResources/values-ru-rRU/strings.xml
Due: :resource

New translations strings.xml (Slovak)
  resource/src/commonMain/composeResources/values-sk-rSK/strings.xml
Due: :resource

New translations strings.xml (Serbian (Cyrillic))
  resource/src/commonMain/composeResources/values-sr-rSP/strings.xml
Due: :resource

New translations strings.xml (Swedish)
  resource/src/commonMain/composeResources/values-sv-rSE/strings.xml
Due: :resource

New translations strings.xml (Turkish)
  resource/src/commonMain/composeResources/values-tr-rTR/strings.xml
Due: :resource

New translations strings.xml (Ukrainian)
  resource/src/commonMain/composeResources/values-uk-rUA/strings.xml
Due: :resource

New translations strings.xml (Chinese Simplified)
  resource/src/commonMain/composeResources/values-zh-rCN/strings.xml
Due: :resource

New translations strings.xml (Chinese Traditional)
  resource/src/commonMain/composeResources/values-zh-rTW/strings.xml
Due: :resource

New translations strings.xml (Vietnamese)
  resource/src/commonMain/composeResources/values-vi-rVN/strings.xml
Due: :resource

New translations strings.xml (Portuguese, Brazilian)
  resource/src/commonMain/composeResources/values-pt-rBR/strings.xml
Due: :resource

New translations strings.xml (Persian)
  resource/src/commonMain/composeResources/values-fa-rIR/strings.xml
Due: :resource

New translations strings.xml (Thai)
  resource/src/commonMain/composeResources/values-th-rTH/strings.xml
Due: :resource

New translations strings.xml (English, United Kingdom)
  resource/src/commonMain/composeResources/values-en-rGB/strings.xml
Due: :resource

New translations strings.xml (Dari)
  resource/src/commonMain/composeResources/values-fa-rAF/strings.xml
Due: :resource

New translations strings.xml (Pashto)
  resource/src/commonMain/composeResources/values-ps-rAF/strings.xml
Due: :resource

Update Translations [skip ci] (#69)
  resource/src/commonMain/composeResources/values-af-rZA/strings.xml
  resource/src/commonMain/composeResources/values-ar-rSA/strings.xml
  resource/src/commonMain/composeResources/values-ca-rES/strings.xml
  resource/src/commonMain/composeResources/values-cs-rCZ/strings.xml
  resource/src/commonMain/composeResources/values-da-rDK/strings.xml
  resource/src/commonMain/composeResources/values-de-rDE/strings.xml
  resource/src/commonMain/composeResources/values-el-rGR/strings.xml
  resource/src/commonMain/composeResources/values-en-rGB/strings.xml
  resource/src/commonMain/composeResources/values-es-rES/strings.xml
  resource/src/commonMain/composeResources/values-fa-rAF/strings.xml
  resource/src/commonMain/composeResources/values-fa-rIR/strings.xml
  resource/src/commonMain/composeResources/values-fi-rFI/strings.xml
  resource/src/commonMain/composeResources/values-fr-rFR/strings.xml
  resource/src/commonMain/composeResources/values-hu-rHU/strings.xml
  resource/src/commonMain/composeResources/values-it-rIT/strings.xml
  resource/src/commonMain/composeResources/values-iw-rIL/strings.xml
  resource/src/commonMain/composeResources/values-ja-rJP/strings.xml
  resource/src/commonMain/composeResources/values-ko-rKR/strings.xml
  resource/src/commonMain/composeResources/values-nl-rNL/strings.xml
  resource/src/commonMain/composeResources/values-no-rNO/strings.xml
  resource/src/commonMain/composeResources/values-pl-rPL/strings.xml
  resource/src/commonMain/composeResources/values-ps-rAF/strings.xml
  resource/src/commonMain/composeResources/values-pt-rBR/strings.xml
  resource/src/commonMain/composeResources/values-pt-rPT/strings.xml
  resource/src/commonMain/composeResources/values-ro-rRO/strings.xml
  resource/src/commonMain/composeResources/values-ru-rRU/strings.xml
  resource/src/commonMain/composeResources/values-sk-rSK/strings.xml
  resource/src/commonMain/composeResources/values-sr-rSP/strings.xml
  resource/src/commonMain/composeResources/values-sv-rSE/strings.xml
  resource/src/commonMain/composeResources/values-th-rTH/strings.xml
  resource/src/commonMain/composeResources/values-tr-rTR/strings.xml
  resource/src/commonMain/composeResources/values-uk-rUA/strings.xml
  resource/src/commonMain/composeResources/values-vi-rVN/strings.xml
  resource/src/commonMain/composeResources/values-zh-rCN/strings.xml
  resource/src/commonMain/composeResources/values-zh-rTW/strings.xml
Due: :resource

Switch workflows from Zulu to Temurin
  persistence/src/jvmTest/kotlin/glass/yasan/kepko/persistence/LocalKepkoColorPaletteTest.kt
  persistence/src/jvmTest/kotlin/glass/yasan/kepko/persistence/LocalKepkoPersistenceManagerTest.kt
  persistence/src/jvmTest/kotlin/glass/yasan/kepko/persistence/PersistentKepkoThemeTest.kt
  persistence/src/jvmTest/kotlin/glass/yasan/kepko/persistence/PersistentOnboardingThemeContentTest.kt
  persistence/src/jvmTest/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreenTest.kt
  persistence/src/jvmTest/kotlin/glass/yasan/kepko/persistence/PreviewScreenshotTests.kt
Due: :persistence

Remove grayscale setting leading icon
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreen.kt
Due: :persistence

Remove experimental badges from color palettes
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreen.kt
Due: :persistence

Add long click support to picker chip
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceRadioGroupPickerChip.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/HomeScreen.kt
Due: :component

Fix detekt issues
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/HomeScreen.kt
Due: none

Animate button border width on hover
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ButtonPrimitive.kt
Due: :component

Animate segmented picker hover content color
  component/src/commonMain/kotlin/glass/yasan/kepko/component/SegmentedPicker.kt
Due: :component

Add segmented picker hover content color
  component/src/commonMain/kotlin/glass/yasan/kepko/component/SegmentedPicker.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/SegmentedPickerColors.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/SegmentedPickerDefaults.kt
Due: :component

Polish segmented picker item layout
  component/src/commonMain/kotlin/glass/yasan/kepko/component/SegmentedPicker.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/SegmentedPickerDefaults.kt
Due: :component

Add visibility mode segmented picker sample
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/home/ExampleSegmentedPicker.kt
Due: none

Path conditions:
  :resource: any of: resource/src/**
  :foundation: any of: foundation/src/**
  :component: any of: component/src/**
  :persistence: any of: persistence/src/**
