Repository yasanglass/kepko: changes, and which Codecov flags are due for each by the changed paths.
All: :resource, :foundation, :component, :persistence

New translations strings.xml (Slovak) Update translations (Slovak)
  sample/composeApp/src/commonMain/composeResources/values-sk-rSK/strings.xml
Due: none

New translations strings.xml (Serbian (Cyrillic)) Update translations (Serbian (Cyrillic))
  sample/composeApp/src/commonMain/composeResources/values-sr-rSP/strings.xml
Due: none

New translations strings.xml (Swedish) Update translations (Swedish)
  sample/composeApp/src/commonMain/composeResources/values-sv-rSE/strings.xml
Due: none

New translations strings.xml (Turkish) Update translations (Turkish)
  sample/composeApp/src/commonMain/composeResources/values-tr-rTR/strings.xml
Due: none

New translations strings.xml (Ukrainian) Update translations (Ukrainian)
  sample/composeApp/src/commonMain/composeResources/values-uk-rUA/strings.xml
Due: none

New translations strings.xml (Chinese Simplified) Update translations (Chinese Simplified)
  sample/composeApp/src/commonMain/composeResources/values-zh-rCN/strings.xml
Due: none

New translations strings.xml (Chinese Traditional) Update translations (Chinese Traditional)
  sample/composeApp/src/commonMain/composeResources/values-zh-rTW/strings.xml
Due: none

New translations strings.xml (Vietnamese) Update translations (Vietnamese)
  sample/composeApp/src/commonMain/composeResources/values-vi-rVN/strings.xml
Due: none

New translations strings.xml (Portuguese, Brazilian) Update translations (Portuguese, Brazilian)
  sample/composeApp/src/commonMain/composeResources/values-pt-rBR/strings.xml
Due: none

New translations strings.xml (Thai) Update translations (Thai)
  sample/composeApp/src/commonMain/composeResources/values-th-rTH/strings.xml
Due: none

New translations strings.xml (English, United Kingdom) Update translations (English, United Kingdom)
  sample/composeApp/src/commonMain/composeResources/values-en-rGB/strings.xml
Due: none

New translations strings.xml (Dari) Update translations (Dari)
  sample/composeApp/src/commonMain/composeResources/values-fa-rAF/strings.xml
Due: none

New translations strings.xml (Pashto) Update translations (Pashto)
  sample/composeApp/src/commonMain/composeResources/values-ps-rAF/strings.xml
Due: none

Add onboarding theme content screen
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentOnboardingThemeContent.kt
  sample/composeApp/src/commonMain/composeResources/values/strings.xml
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/HomeScreen.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/Route.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/SampleApp.kt
  sample/composeApp/src/jvmTest/kotlin/glass/yasan/kepko/sample/readme/SampleReadmePreview.kt
Due: :persistence

Bump version to 1.4.3
  build.gradle.kts
Due: none

Change HomeScreen item spacing to 8dp
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/HomeScreen.kt
Due: none

Add non dynamic shape options
  foundation/src/commonMain/kotlin/glass/yasan/kepko/foundation/annotation/DelicateKepkoShapesApi.kt
  foundation/src/commonMain/kotlin/glass/yasan/kepko/foundation/shape/Shapes.kt
Due: :foundation

Remove color palette preview bottom sheet
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/ColorPaletteBottomSheet.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreen.kt
Due: :persistence

Stop marking catppuccin and gruvbox color palettes as experimental
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentOnboardingThemeContent.kt
Due: :persistence

Bump version to 1.4.4
  build.gradle.kts
Due: none

Update detekt rules
  foundation/src/commonMain/kotlin/glass/yasan/kepko/foundation/shape/Shapes.kt
  sample/composeApp/src/jvmTest/kotlin/glass/yasan/kepko/sample/readme/ColorPaletteReadmePreview.kt
Due: :foundation

Add missing ModalBottomSheet parameters from Material3
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ModalBottomSheet.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ModalBottomSheetDefaults.kt
Due: :component

Create DragHandle component
  component/src/commonMain/kotlin/glass/yasan/kepko/component/DragHandle.kt
Due: :component

Add default dragHandle to ModalBottomSheet
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ModalBottomSheet.kt
Due: :component

Bump version to 1.4.5
  build.gradle.kts
Due: none

Create TextButton component
  component/src/commonMain/kotlin/glass/yasan/kepko/component/TextButton.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/TextButtonColors.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/TextButtonDefaults.kt
Due: :component

Use medium shape for TextPill
  component/src/commonMain/kotlin/glass/yasan/kepko/component/TextPill.kt
Due: :component

Allow more customization for KeyValue and TextPill for click actions
  component/src/commonMain/kotlin/glass/yasan/kepko/component/KeyValue.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/TextPill.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/HomeScreen.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/home/ExampleKeyValue.kt
Due: :component

Create CheckboxText component
  component/src/commonMain/kotlin/glass/yasan/kepko/component/CheckboxText.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/HomeScreen.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/home/ExampleCheckboxText.kt
Due: :component

bump version to 1.4.6
  build.gradle.kts
Due: none

Move TextPill shape to TextPillDefaults
  component/src/commonMain/kotlin/glass/yasan/kepko/component/TextPill.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/TextPillDefaults.kt
Due: :component

Remove ImageVector overloads
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ButtonText.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Icon.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/IconButton.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceRadioGroupPicker.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceRadioGroupPickerChip.kt
Due: :component

Allow null text in ButtonText
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ButtonText.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/HomeScreen.kt
Due: :component

Rename `Button` to `ButtonPrimitive`
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ButtonPrimitive.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ButtonText.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceRadioGroupPickerChip.kt
Due: :component

Remove material icons extended dependency
  component/build.gradle.kts
  foundation/build.gradle.kts
  gradle/libs.versions.toml
Due: none

Clean up dependencies
  build.gradle.kts
  component/build.gradle.kts
  foundation/build.gradle.kts
  gradle/libs.versions.toml
  persistence/build.gradle.kts
  sample/composeApp/build.gradle.kts
Due: none

Create manual `Regenerate Snapshots` workflow
  .github/workflows/regenerate-snapshots.yml
Due: none

Fix PersistentOnboardingThemeContentSystemPreview relying on actual system theme
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentOnboardingThemeContent.kt
Due: :persistence

Implement `ButtonPrimitive` from scratch instead of relying on Material3 `Button`
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ButtonDefaults.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ButtonPrimitive.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ButtonText.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ButtonTextDefaults.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceRadioGroupPickerChip.kt
Due: :component

Path conditions:
  :resource: any of: resource/src/**
  :foundation: any of: foundation/src/**
  :component: any of: component/src/**
  :persistence: any of: persistence/src/**
