Repository yasanglass/kepko: changes, and which Codecov flags are due for each by the changed paths.
All: :foundation, :component, :persistence

codecov.yml:

component_management:
  individual_components:
    - component_id: foundation
      name: ":foundation"
      paths:
        - "foundation/src/**"
    - component_id: component
      name: ":component"
      paths:
        - "component/src/**"
    - component_id: persistence
      name: ":persistence"
      paths:
        - "persistence/src/**"

Enable codecov project status
  codecov.yml
Due: none

Improve test coverage for persistence module
  persistence/src/commonTest/kotlin/glass/yasan/kepko/persistence/PersistenceManagerTest.kt
  persistence/src/jvmTest/kotlin/glass/yasan/kepko/persistence/LocalPersistenceManagerTest.kt
  persistence/src/jvmTest/kotlin/glass/yasan/kepko/persistence/PersistentKepkoThemeTest.kt
Due: :persistence

Fix compose previews
  component/build.gradle.kts
  foundation/build.gradle.kts
  persistence/build.gradle.kts
  sample/composeApp/build.gradle.kts
Due: none

Add resource module to coverage reports
  build.gradle.kts
  codecov.yml
Due: none

Create `KepkoSettings`
  persistence/build.gradle.kts
  persistence/src/androidMain/kotlin/glass/yasan/kepko/persistence/KepkoSettings.android.kt
  persistence/src/appleMain/kotlin/glass/yasan/kepko/persistence/KepkoSettings.apple.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/KepkoSettings.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistenceManager.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentKepkoTheme.kt
  persistence/src/jvmMain/kotlin/glass/yasan/kepko/persistence/KepkoSettings.jvm.kt
  persistence/src/webMain/kotlin/glass/yasan/kepko/persistence/KepkoSettings.web.kt
Due: :persistence

Improve documentation for PersistentKepkoTheme
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentKepkoTheme.kt
Due: :persistence

Bump version to 1.3.0
  build.gradle.kts
Due: none

Create tests for PersistentPreferenceThemeScreen
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreen.kt
  persistence/src/jvmTest/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreenTest.kt
Due: :persistence

Fix git lfs setup for persistence module snapshots
  .gitattributes
Due: none

Add previews for ProgressIndicator components
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ProgressIndicator.kt
Due: :component

Add previews for surface components
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Surface.kt
Due: :component

Add previews for Text components
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Text.kt
Due: :component

Add previews for TextMono components
  component/src/commonMain/kotlin/glass/yasan/kepko/component/TextMono.kt
Due: :component

Make LocalKepkoPersistenceManager public
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistenceManager.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/SampleApp.kt
Due: :persistence

Rename `LocalPersistenceManager` to `LocalKepkoPersistenceManager`
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistenceManager.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentKepkoTheme.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreen.kt
  persistence/src/jvmTest/kotlin/glass/yasan/kepko/persistence/LocalKepkoPersistenceManagerTest.kt
  persistence/src/jvmTest/kotlin/glass/yasan/kepko/persistence/PersistentKepkoThemeTest.kt
Due: :persistence

Improve documentation for `PersistentKepkoTheme`
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentKepkoTheme.kt
Due: :persistence

Include more icons in icon previews
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Icon.kt
Due: :component

Bump version to 1.3.1
  build.gradle.kts
Due: none

Create active `PreferenceAnnotation`
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceAnnotation.kt
Due: :component

Show active annotation for the active system-based theme
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreen.kt
Due: :persistence

Use a singleton PersistenceManager by default for consistency
  gradle/libs.versions.toml
  persistence/build.gradle.kts
  persistence/src/androidMain/kotlin/glass/yasan/kepko/persistence/KepkoSettings.android.kt
  persistence/src/appleMain/kotlin/glass/yasan/kepko/persistence/KepkoSettings.apple.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/KepkoSettings.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistenceManager.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentKepkoTheme.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreen.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/internal/PersistenceManagerImpl.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/internal/PreviewPersistenceManager.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/internal/SingletonPersistenceManager.kt
  persistence/src/commonTest/kotlin/glass/yasan/kepko/persistence/PersistenceManagerTest.kt
  persistence/src/jvmMain/kotlin/glass/yasan/kepko/persistence/KepkoSettings.jvm.kt
  persistence/src/jvmTest/kotlin/glass/yasan/kepko/persistence/LocalKepkoPersistenceManagerTest.kt
  persistence/src/jvmTest/kotlin/glass/yasan/kepko/persistence/LocalKepkoThemeStyleTest.kt
  persistence/src/jvmTest/kotlin/glass/yasan/kepko/persistence/PersistentKepkoThemeTest.kt
  persistence/src/jvmTest/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreenTest.kt
  persistence/src/webMain/kotlin/glass/yasan/kepko/persistence/KepkoSettings.web.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/SampleApp.kt
Due: :persistence

Update source file strings.xml Update translations (English, United States)
  resource/src/commonMain/composeResources/values/strings.xml
Due: none

New translations strings.xml (Romanian) Update translations (Romanian)
  resource/src/commonMain/composeResources/values-ro-rRO/strings.xml
Due: none

New translations strings.xml (French) Update translations (French)
  resource/src/commonMain/composeResources/values-fr-rFR/strings.xml
Due: none

New translations strings.xml (Spanish) Update translations (Spanish)
  resource/src/commonMain/composeResources/values-es-rES/strings.xml
Due: none

New translations strings.xml (Afrikaans) Update translations (Afrikaans)
  resource/src/commonMain/composeResources/values-af-rZA/strings.xml
Due: none

New translations strings.xml (Arabic) Update translations (Arabic)
  resource/src/commonMain/composeResources/values-ar-rSA/strings.xml
Due: none

New translations strings.xml (Catalan) Update translations (Catalan)
  resource/src/commonMain/composeResources/values-ca-rES/strings.xml
Due: none

New translations strings.xml (Czech) Update translations (Czech)
  resource/src/commonMain/composeResources/values-cs-rCZ/strings.xml
Due: none

New translations strings.xml (Danish) Update translations (Danish)
  resource/src/commonMain/composeResources/values-da-rDK/strings.xml
Due: none

New translations strings.xml (German) Update translations (German)
  resource/src/commonMain/composeResources/values-de-rDE/strings.xml
Due: none

New translations strings.xml (Greek) Update translations (Greek)
  resource/src/commonMain/composeResources/values-el-rGR/strings.xml
Due: none

New translations strings.xml (Finnish) Update translations (Finnish)
  resource/src/commonMain/composeResources/values-fi-rFI/strings.xml
Due: none

New translations strings.xml (Hebrew) Update translations (Hebrew)
  resource/src/commonMain/composeResources/values-iw-rIL/strings.xml
Due: none

New translations strings.xml (Hungarian) Update translations (Hungarian)
  resource/src/commonMain/composeResources/values-hu-rHU/strings.xml
Due: none

New translations strings.xml (Italian) Update translations (Italian)
  resource/src/commonMain/composeResources/values-it-rIT/strings.xml
Due: none

New translations strings.xml (Japanese) Update translations (Japanese)
  resource/src/commonMain/composeResources/values-ja-rJP/strings.xml
Due: none

New translations strings.xml (Korean) Update translations (Korean)
  resource/src/commonMain/composeResources/values-ko-rKR/strings.xml
Due: none

New translations strings.xml (Dutch) Update translations (Dutch)
  resource/src/commonMain/composeResources/values-nl-rNL/strings.xml
Due: none

New translations strings.xml (Norwegian) Update translations (Norwegian)
  resource/src/commonMain/composeResources/values-no-rNO/strings.xml
Due: none
