Repository yasanglass/kepko: changes, and which Codecov flags are due for each by the changed paths.
All: :resource, :foundation, :component, :persistence

Add lorem ipsum string
  resource/src/commonMain/composeResources/values/strings.xml
  resource/src/commonMain/kotlin/glass/yasan/kepko/resource/Strings.kt
Due: :resource

Add description for grayscale setting in `PersistentPreferenceThemeScreen`
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreen.kt
  resource/src/commonMain/composeResources/values/strings.xml
  resource/src/commonMain/kotlin/glass/yasan/kepko/resource/Strings.kt
Due: :resource, :persistence

Provide more information in README.md
  .github/workflows/snapshots.yml
  README.md
  sample/composeApp/build.gradle.kts
  sample/composeApp/src/jvmTest/kotlin/glass/yasan/kepko/sample/ReadmeScreenshotTests.kt
  sample/composeApp/src/jvmTest/kotlin/glass/yasan/kepko/sample/readme/ComponentReadmePreview.kt
  sample/composeApp/src/jvmTest/kotlin/glass/yasan/kepko/sample/readme/ReadmePreview.kt
  sample/composeApp/src/jvmTest/kotlin/glass/yasan/kepko/sample/readme/SampleReadmePreview.kt
  sample/composeApp/src/jvmTest/kotlin/glass/yasan/kepko/sample/readme/UsageReadmePreview.kt
Due: none

Replace relative links with absolute URLs in README
  README.md
Due: none

Track sample README screenshots with Git LFS
  .gitattributes
Due: none

Migrate sample README screenshots to Git LFS
  sample/composeApp/assets/readme/ButtonTextDarkReadmePreview.png
  sample/composeApp/assets/readme/ButtonTextLightReadmePreview.png
  sample/composeApp/assets/readme/OutlinedTextFieldDarkReadmePreview.png
  sample/composeApp/assets/readme/OutlinedTextFieldLightReadmePreview.png
  sample/composeApp/assets/readme/PreferenceCheckboxDarkReadmePreview.png
  sample/composeApp/assets/readme/PreferenceCheckboxLightReadmePreview.png
  sample/composeApp/assets/readme/PreferenceRadioButtonDarkReadmePreview.png
  sample/composeApp/assets/readme/PreferenceRadioButtonLightReadmePreview.png
  sample/composeApp/assets/readme/PreferenceRadioGroupDarkReadmePreview.png
  sample/composeApp/assets/readme/PreferenceRadioGroupLightReadmePreview.png
  sample/composeApp/assets/readme/PreferenceSliderDarkReadmePreview.png
  sample/composeApp/assets/readme/PreferenceSliderLightReadmePreview.png
  sample/composeApp/assets/readme/PreferenceSwitchDarkReadmePreview.png
  sample/composeApp/assets/readme/PreferenceSwitchLightReadmePreview.png
  sample/composeApp/assets/readme/SampleDarkReadmePreview.png
  sample/composeApp/assets/readme/SampleLightReadmePreview.png
  sample/composeApp/assets/readme/UsageLightReadmePreview.png
Due: none

Improve usage segment on README
  README.md
  sample/composeApp/src/jvmTest/kotlin/glass/yasan/kepko/sample/readme/UsageReadmePreview.kt
Due: none

Revert "Regenerate snapshots [skip ci]"
  sample/composeApp/assets/readme/UsageLightReadmePreview.png
Due: none

Revert "Migrate sample README screenshots to Git LFS"
  sample/composeApp/assets/readme/ButtonTextDarkReadmePreview.png
  sample/composeApp/assets/readme/ButtonTextLightReadmePreview.png
  sample/composeApp/assets/readme/OutlinedTextFieldDarkReadmePreview.png
  sample/composeApp/assets/readme/OutlinedTextFieldLightReadmePreview.png
  sample/composeApp/assets/readme/PreferenceCheckboxDarkReadmePreview.png
  sample/composeApp/assets/readme/PreferenceCheckboxLightReadmePreview.png
  sample/composeApp/assets/readme/PreferenceRadioButtonDarkReadmePreview.png
  sample/composeApp/assets/readme/PreferenceRadioButtonLightReadmePreview.png
  sample/composeApp/assets/readme/PreferenceRadioGroupDarkReadmePreview.png
  sample/composeApp/assets/readme/PreferenceRadioGroupLightReadmePreview.png
  sample/composeApp/assets/readme/PreferenceSliderDarkReadmePreview.png
  sample/composeApp/assets/readme/PreferenceSliderLightReadmePreview.png
  sample/composeApp/assets/readme/PreferenceSwitchDarkReadmePreview.png
  sample/composeApp/assets/readme/PreferenceSwitchLightReadmePreview.png
  sample/composeApp/assets/readme/SampleDarkReadmePreview.png
  sample/composeApp/assets/readme/SampleLightReadmePreview.png
  sample/composeApp/assets/readme/UsageLightReadmePreview.png
Due: none

Revert "Track sample README screenshots with Git LFS"
  .gitattributes
Due: none

Add information about persistence module to README
  README.md
Due: none

Hyperlink CompositionLocal to Android reference docs
  README.md
Due: none

Add theme styles section to README
  README.md
  sample/composeApp/src/jvmTest/kotlin/glass/yasan/kepko/sample/readme/ThemeStyleReadmePreview.kt
Due: none

Increase readme screenshot density to 1.5x
  sample/composeApp/src/jvmTest/kotlin/glass/yasan/kepko/sample/ReadmeScreenshotTests.kt
Due: none

Update source file strings.xml Update translations (English, United States)
  resource/src/commonMain/composeResources/values/strings.xml
Due: :resource

New translations strings.xml (Romanian) Update translations (Romanian)
  resource/src/commonMain/composeResources/values-ro-rRO/strings.xml
Due: :resource

New translations strings.xml (French) Update translations (French)
  resource/src/commonMain/composeResources/values-fr-rFR/strings.xml
Due: :resource

New translations strings.xml (Spanish) Update translations (Spanish)
  resource/src/commonMain/composeResources/values-es-rES/strings.xml
Due: :resource

New translations strings.xml (Afrikaans) Update translations (Afrikaans)
  resource/src/commonMain/composeResources/values-af-rZA/strings.xml
Due: :resource

New translations strings.xml (Arabic) Update translations (Arabic)
  resource/src/commonMain/composeResources/values-ar-rSA/strings.xml
Due: :resource

New translations strings.xml (Catalan) Update translations (Catalan)
  resource/src/commonMain/composeResources/values-ca-rES/strings.xml
Due: :resource

New translations strings.xml (Czech) Update translations (Czech)
  resource/src/commonMain/composeResources/values-cs-rCZ/strings.xml
Due: :resource

New translations strings.xml (Danish) Update translations (Danish)
  resource/src/commonMain/composeResources/values-da-rDK/strings.xml
Due: :resource

New translations strings.xml (German) Update translations (German)
  resource/src/commonMain/composeResources/values-de-rDE/strings.xml
Due: :resource

New translations strings.xml (Greek) Update translations (Greek)
  resource/src/commonMain/composeResources/values-el-rGR/strings.xml
Due: :resource

New translations strings.xml (Finnish) Update translations (Finnish)
  resource/src/commonMain/composeResources/values-fi-rFI/strings.xml
Due: :resource

New translations strings.xml (Hebrew) Update translations (Hebrew)
  resource/src/commonMain/composeResources/values-iw-rIL/strings.xml
Due: :resource

New translations strings.xml (Hungarian) Update translations (Hungarian)
  resource/src/commonMain/composeResources/values-hu-rHU/strings.xml
Due: :resource

New translations strings.xml (Italian) Update translations (Italian)
  resource/src/commonMain/composeResources/values-it-rIT/strings.xml
Due: :resource

New translations strings.xml (Japanese) Update translations (Japanese)
  resource/src/commonMain/composeResources/values-ja-rJP/strings.xml
Due: :resource

New translations strings.xml (Korean) Update translations (Korean)
  resource/src/commonMain/composeResources/values-ko-rKR/strings.xml
Due: :resource

New translations strings.xml (Dutch) Update translations (Dutch)
  resource/src/commonMain/composeResources/values-nl-rNL/strings.xml
Due: :resource

New translations strings.xml (Norwegian) Update translations (Norwegian)
  resource/src/commonMain/composeResources/values-no-rNO/strings.xml
Due: :resource

New translations strings.xml (Polish) Update translations (Polish)
  resource/src/commonMain/composeResources/values-pl-rPL/strings.xml
Due: :resource

New translations strings.xml (Portuguese) Update translations (Portuguese)
  resource/src/commonMain/composeResources/values-pt-rPT/strings.xml
Due: :resource

New translations strings.xml (Russian) Update translations (Russian)
  resource/src/commonMain/composeResources/values-ru-rRU/strings.xml
Due: :resource

New translations strings.xml (Slovak) Update translations (Slovak)
  resource/src/commonMain/composeResources/values-sk-rSK/strings.xml
Due: :resource

New translations strings.xml (Serbian (Cyrillic)) Update translations (Serbian (Cyrillic))
  resource/src/commonMain/composeResources/values-sr-rSP/strings.xml
Due: :resource

New translations strings.xml (Swedish) Update translations (Swedish)
  resource/src/commonMain/composeResources/values-sv-rSE/strings.xml
Due: :resource

New translations strings.xml (Turkish) Update translations (Turkish)
  resource/src/commonMain/composeResources/values-tr-rTR/strings.xml
Due: :resource

Path conditions:
  :resource: any of: resource/src/**
  :foundation: any of: foundation/src/**
  :component: any of: component/src/**
  :persistence: any of: persistence/src/**
