Repository yasanglass/kepko: changes, and which Codecov flags are due for each by the changed paths.
All: :resource, :foundation, :component, :persistence

New translations strings.xml (Polish) Update translations (Polish)
  resource/src/commonMain/composeResources/values-pl-rPL/strings.xml
Due: :resource

New translations strings.xml (Portuguese) Update translations (Portuguese)
  resource/src/commonMain/composeResources/values-pt-rPT/strings.xml
Due: :resource

New translations strings.xml (Russian) Update translations (Russian)
  resource/src/commonMain/composeResources/values-ru-rRU/strings.xml
Due: :resource

New translations strings.xml (Slovak) Update translations (Slovak)
  resource/src/commonMain/composeResources/values-sk-rSK/strings.xml
Due: :resource

New translations strings.xml (Serbian (Cyrillic)) Update translations (Serbian (Cyrillic))
  resource/src/commonMain/composeResources/values-sr-rSP/strings.xml
Due: :resource

New translations strings.xml (Swedish) Update translations (Swedish)
  resource/src/commonMain/composeResources/values-sv-rSE/strings.xml
Due: :resource

New translations strings.xml (Turkish) Update translations (Turkish)
  resource/src/commonMain/composeResources/values-tr-rTR/strings.xml
Due: :resource

New translations strings.xml (Ukrainian) Update translations (Ukrainian)
  resource/src/commonMain/composeResources/values-uk-rUA/strings.xml
Due: :resource

New translations strings.xml (Chinese Simplified) Update translations (Chinese Simplified)
  resource/src/commonMain/composeResources/values-zh-rCN/strings.xml
Due: :resource

New translations strings.xml (Chinese Traditional) Update translations (Chinese Traditional)
  resource/src/commonMain/composeResources/values-zh-rTW/strings.xml
Due: :resource

New translations strings.xml (Vietnamese) Update translations (Vietnamese)
  resource/src/commonMain/composeResources/values-vi-rVN/strings.xml
Due: :resource

New translations strings.xml (Portuguese, Brazilian) Update translations (Portuguese, Brazilian)
  resource/src/commonMain/composeResources/values-pt-rBR/strings.xml
Due: :resource

New translations strings.xml (Persian) Update translations (Persian)
  resource/src/commonMain/composeResources/values-fa-rIR/strings.xml
Due: :resource

New translations strings.xml (Thai) Update translations (Thai)
  resource/src/commonMain/composeResources/values-th-rTH/strings.xml
Due: :resource

New translations strings.xml (English, United Kingdom) Update translations (English, United Kingdom)
  resource/src/commonMain/composeResources/values-en-rGB/strings.xml
Due: :resource

New translations strings.xml (Dari) Update translations (Dari)
  resource/src/commonMain/composeResources/values-fa-rAF/strings.xml
Due: :resource

New translations strings.xml (Pashto) Update translations (Pashto)
  resource/src/commonMain/composeResources/values-ps-rAF/strings.xml
Due: :resource

Bump version to 1.3.2
  build.gradle.kts
Due: none

Add additional desktop target formats
  sample/composeApp/build.gradle.kts
Due: none

Build and upload sample app on each release
  .github/workflows/publish.yml
Due: none

Use all preference annotations in previews
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceContainer.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceSlider.kt
Due: :component

Add basic usage of PreferenceAnnotation to previews
  component/src/commonMain/kotlin/glass/yasan/kepko/component/TextPill.kt
Due: :component

Allow adding a leading icon to PreferenceRadioGroupPicker
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceRadioGroupPicker.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreen.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/HomeScreen.kt
Due: :component, :persistence

Add palette icon
  resource/src/commonMain/composeResources/drawable/ic_palette.xml
  resource/src/commonMain/kotlin/glass/yasan/kepko/resource/Icons.kt
Due: :resource

Use palette leading icon for theme preferences
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreen.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/HomeScreen.kt
Due: :persistence

Add filterBw, lightMode, and modeNight icons
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreen.kt
  resource/src/commonMain/composeResources/drawable/ic_filter_bw.xml
  resource/src/commonMain/composeResources/drawable/ic_light_mode.xml
  resource/src/commonMain/composeResources/drawable/ic_mode_night.xml
  resource/src/commonMain/kotlin/glass/yasan/kepko/resource/Icons.kt
Due: :resource, :persistence

Bump version to 1.3.3
  build.gradle.kts
Due: none

New translations strings.xml (German) Update translations (German)
  resource/src/commonMain/composeResources/values-de-rDE/strings.xml
Due: :resource

Improve release artifact naming
  .github/workflows/publish.yml
Due: none

Use project version for desktop packages
  sample/composeApp/build.gradle.kts
Due: none

Use full package name for setting keys
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/internal/PersistenceManagerImpl.kt
Due: :persistence

Improve inset paddings on Scaffold
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Scaffold.kt
Due: :component

Bump version to 1.3.4
  build.gradle.kts
Due: none

Add IconButton component
  README.md
  component/src/commonMain/kotlin/glass/yasan/kepko/component/IconButton.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/IconButtonDefaults.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Scaffold.kt
Due: :component

Add color palette bottom sheet to theme screen
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/ColorPaletteBottomSheet.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreen.kt
  resource/src/commonMain/composeResources/values/strings.xml
  resource/src/commonMain/kotlin/glass/yasan/kepko/resource/Strings.kt
Due: :resource, :persistence

Fix low contrast contentColorFor on contentDisabled
  foundation/src/commonMain/kotlin/glass/yasan/kepko/foundation/color/ContentColor.kt
Due: :foundation

Fix relative sample screenshot URL in README
  README.md
Due: none

Add missing modules to readme
  README.md
Due: none

Bump version to 1.3.5
  build.gradle.kts
Due: none

Path conditions:
  :resource: any of: resource/src/**
  :foundation: any of: foundation/src/**
  :component: any of: component/src/**
  :persistence: any of: persistence/src/**
