Repository yasanglass/kepko: changes, and which Codecov flags are due for each by the changed paths.
All: :resource, :foundation, :component, :persistence

New translations strings.xml (English, United Kingdom) Update translations (English, United Kingdom)
  resource/src/commonMain/composeResources/values-en-rGB/strings.xml
Due: :resource

Update Translations [skip ci] (#47)
  resource/src/commonMain/composeResources/values-ca-rES/strings.xml
  resource/src/commonMain/composeResources/values-cs-rCZ/strings.xml
  resource/src/commonMain/composeResources/values-en-rGB/strings.xml
  resource/src/commonMain/composeResources/values-fa-rIR/strings.xml
  resource/src/commonMain/composeResources/values-it-rIT/strings.xml
Due: :resource

Update Gradle Wrapper from 9.3.1 to 9.4.0
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Due: none

Add Context7 docs refresh to release pipeline
  .github/workflows/context7.yml
  .github/workflows/publish.yml
Due: none

Update dependencies
  gradle/libs.versions.toml
Due: none

Add customizable animations to TextPill
  component/src/commonMain/kotlin/glass/yasan/kepko/component/TextPill.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/TextPillDefaults.kt
Due: :component

Add animated color cycling to KeyValue sample
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/HomeScreen.kt
Due: none

Bump version to 1.3.10
  build.gradle.kts
Due: none

Update context7 workflow names
  .github/workflows/context7.yml
Due: none

Run Context7 docs refresh without waiting for publish
  .github/workflows/publish.yml
Due: none

Update Gradle Wrapper from 9.4.0 to 9.4.1
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Due: none

Skip Codecov on dependency PRs
  .github/workflows/jvm.yml
Due: none

Add missing compiler args to all modules
  persistence/build.gradle.kts
  resource/build.gradle.kts
  sample/androidApp/build.gradle.kts
Due: none

Update source file strings.xml Update translations (English, United States)
  resource/src/commonMain/composeResources/values/strings.xml
Due: :resource

New translations strings.xml (Romanian) Update translations (Romanian)
  resource/src/commonMain/composeResources/values-ro-rRO/strings.xml
Due: :resource

New translations strings.xml (French) Update translations (French)
  resource/src/commonMain/composeResources/values-fr-rFR/strings.xml
Due: :resource

New translations strings.xml (Spanish) Update translations (Spanish)
  resource/src/commonMain/composeResources/values-es-rES/strings.xml
Due: :resource

New translations strings.xml (Afrikaans) Update translations (Afrikaans)
  resource/src/commonMain/composeResources/values-af-rZA/strings.xml
Due: :resource

New translations strings.xml (Arabic) Update translations (Arabic)
  resource/src/commonMain/composeResources/values-ar-rSA/strings.xml
Due: :resource

New translations strings.xml (Catalan) Update translations (Catalan)
  resource/src/commonMain/composeResources/values-ca-rES/strings.xml
Due: :resource

New translations strings.xml (Czech) Update translations (Czech)
  resource/src/commonMain/composeResources/values-cs-rCZ/strings.xml
Due: :resource

New translations strings.xml (Danish) Update translations (Danish)
  resource/src/commonMain/composeResources/values-da-rDK/strings.xml
Due: :resource

New translations strings.xml (German) Update translations (German)
  resource/src/commonMain/composeResources/values-de-rDE/strings.xml
Due: :resource

New translations strings.xml (Greek) Update translations (Greek)
  resource/src/commonMain/composeResources/values-el-rGR/strings.xml
Due: :resource

New translations strings.xml (Finnish) Update translations (Finnish)
  resource/src/commonMain/composeResources/values-fi-rFI/strings.xml
Due: :resource

New translations strings.xml (Hebrew) Update translations (Hebrew)
  resource/src/commonMain/composeResources/values-iw-rIL/strings.xml
Due: :resource

New translations strings.xml (Hungarian) Update translations (Hungarian)
  resource/src/commonMain/composeResources/values-hu-rHU/strings.xml
Due: :resource

New translations strings.xml (Italian) Update translations (Italian)
  resource/src/commonMain/composeResources/values-it-rIT/strings.xml
Due: :resource

New translations strings.xml (Japanese) Update translations (Japanese)
  resource/src/commonMain/composeResources/values-ja-rJP/strings.xml
Due: :resource

New translations strings.xml (Korean) Update translations (Korean)
  resource/src/commonMain/composeResources/values-ko-rKR/strings.xml
Due: :resource

New translations strings.xml (Dutch) Update translations (Dutch)
  resource/src/commonMain/composeResources/values-nl-rNL/strings.xml
Due: :resource

New translations strings.xml (Norwegian) Update translations (Norwegian)
  resource/src/commonMain/composeResources/values-no-rNO/strings.xml
Due: :resource

New translations strings.xml (Polish) Update translations (Polish)
  resource/src/commonMain/composeResources/values-pl-rPL/strings.xml
Due: :resource

New translations strings.xml (Portuguese) Update translations (Portuguese)
  resource/src/commonMain/composeResources/values-pt-rPT/strings.xml
Due: :resource

New translations strings.xml (Russian) Update translations (Russian)
  resource/src/commonMain/composeResources/values-ru-rRU/strings.xml
Due: :resource

New translations strings.xml (Slovak) Update translations (Slovak)
  resource/src/commonMain/composeResources/values-sk-rSK/strings.xml
Due: :resource

New translations strings.xml (Serbian (Cyrillic)) Update translations (Serbian (Cyrillic))
  resource/src/commonMain/composeResources/values-sr-rSP/strings.xml
Due: :resource

New translations strings.xml (Swedish) Update translations (Swedish)
  resource/src/commonMain/composeResources/values-sv-rSE/strings.xml
Due: :resource

Path conditions:
  :resource: any of: resource/src/**
  :foundation: any of: foundation/src/**
  :component: any of: component/src/**
  :persistence: any of: persistence/src/**
