Repository yasanglass/kepko: changes, and which Codecov flags are due for each by the changed paths.
All: :resource, :foundation, :component, :persistence

codecov.yml:

coverage:
  status:
    project: true

component_management:
  individual_components:
    - component_id: resource
      name: ":resource"
      paths:
        - "resource/src/**"
    - component_id: foundation
      name: ":foundation"
      paths:
        - "foundation/src/**"
    - component_id: component
      name: ":component"
      paths:
        - "component/src/**"
    - component_id: persistence
      name: ":persistence"
      paths:
        - "persistence/src/**"

Fix PersistentOnboardingThemeContentSystemPreview relying on actual system theme
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentOnboardingThemeContent.kt
Due: :persistence

Bump version to 1.4.7
  build.gradle.kts
Due: none

Add combined click options and haptic feedback param to ButtonText
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ButtonText.kt
Due: :component

Bump version to 1.4.8
  build.gradle.kts
Due: none

Animate `ButtonPrimitive` size and color changes
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ButtonPrimitive.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/HomeScreen.kt
Due: :component

Add determinate overloads to progress indicators
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ProgressIndicator.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/HomeScreen.kt
Due: :component

Animate ButtonText icon transitions
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ButtonText.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ButtonTextDefaults.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ButtonTextIconTransitionSpecs.kt
Due: :component

Cycle ButtonText icons in sample
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/HomeScreen.kt
Due: none

Add `CheckboxColors` and animate color changes
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Checkbox.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/CheckboxColors.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/CheckboxDefaults.kt
Due: :component

Add `PreferenceContainerColors` and animate color changes
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceContainer.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceContainerColors.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceContainerDefaults.kt
Due: :component

Bump version to 1.4.9
  build.gradle.kts
Due: none

Add `SelectableChip` component
  component/src/commonMain/kotlin/glass/yasan/kepko/component/SelectableChip.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/SelectableChipColors.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/SelectableChipDefaults.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/HomeScreen.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/home/ExampleSelectableChip.kt
Due: :component

Bump version to 1.4.10
  build.gradle.kts
Due: none

Add releaseAlert icon
  resource/src/commonMain/composeResources/drawable/ic_release_alert.xml
  resource/src/commonMain/kotlin/glass/yasan/kepko/resource/Icons.kt
Due: :resource

Create `NamedIcon`
  resource/src/commonMain/kotlin/glass/yasan/kepko/resource/NamedIcon.kt
  resource/src/jvmTest/kotlin/glass/yasan/kepko/resource/NamedIconTest.kt
Due: :resource

Bump version to 1.4.11
  build.gradle.kts
Due: none

Create NamedColor
  foundation/build.gradle.kts
  foundation/src/commonMain/kotlin/glass/yasan/kepko/foundation/color/NamedColor.kt
  foundation/src/jvmTest/kotlin/glass/yasan/kepko/foundation/color/NamedColorTest.kt
Due: :foundation

Create serialization module to allow remotely construct Kepko components
  README.md
  build.gradle.kts
  gradle/libs.versions.toml
  sample/composeApp/build.gradle.kts
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/HomeScreen.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/Route.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/SampleApp.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/home/serialization/SerializationPresets.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/home/serialization/SerializationScreen.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/home/serialization/SerializationScreenModel.kt
  sample/composeApp/src/jvmTest/kotlin/glass/yasan/kepko/sample/readme/SampleReadmePreview.kt
  serialization/build.gradle.kts
  serialization/src/commonMain/kotlin/glass/yasan/kepko/serialization/ContractButtonText.kt
  serialization/src/commonMain/kotlin/glass/yasan/kepko/serialization/contract/ButtonTextContract.kt
  serialization/src/commonMain/kotlin/glass/yasan/kepko/serialization/contract/PreferenceAnnotationContract.kt
  serialization/src/commonMain/kotlin/glass/yasan/kepko/serialization/serializer/KepkoJson.kt
  serialization/src/commonMain/kotlin/glass/yasan/kepko/serialization/serializer/NamedColorSerializer.kt
  serialization/src/commonMain/kotlin/glass/yasan/kepko/serialization/serializer/NamedIconSerializer.kt
  serialization/src/jvmTest/kotlin/glass/yasan/kepko/serialization/contract/ButtonTextContractTest.kt
  settings.gradle.kts
Due: none

Gate ContractButtonText long-click label on handler presence
  serialization/src/commonMain/kotlin/glass/yasan/kepko/serialization/ContractButtonText.kt
Due: none

Create serialization module to allow remotely construct Kepko components (#61)
  README.md
  build.gradle.kts
  gradle/libs.versions.toml
  sample/composeApp/assets/readme/SampleDarkReadmePreview.png
  sample/composeApp/assets/readme/SampleLightReadmePreview.png
  sample/composeApp/build.gradle.kts
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/HomeScreen.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/Route.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/SampleApp.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/home/serialization/SerializationPresets.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/home/serialization/SerializationScreen.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/home/serialization/SerializationScreenModel.kt
  sample/composeApp/src/jvmTest/kotlin/glass/yasan/kepko/sample/readme/SampleReadmePreview.kt
  serialization/build.gradle.kts
  serialization/src/commonMain/kotlin/glass/yasan/kepko/serialization/ContractButtonText.kt
  serialization/src/commonMain/kotlin/glass/yasan/kepko/serialization/contract/ButtonTextContract.kt
  serialization/src/commonMain/kotlin/glass/yasan/kepko/serialization/contract/PreferenceAnnotationContract.kt
  serialization/src/commonMain/kotlin/glass/yasan/kepko/serialization/serializer/KepkoJson.kt
  serialization/src/commonMain/kotlin/glass/yasan/kepko/serialization/serializer/NamedColorSerializer.kt
  serialization/src/commonMain/kotlin/glass/yasan/kepko/serialization/serializer/NamedIconSerializer.kt
  serialization/src/jvmTest/kotlin/glass/yasan/kepko/serialization/contract/ButtonTextContractTest.kt
  settings.gradle.kts
Due: none

Rename ButtonDefaults to ButtonPrimitiveDefaults
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ButtonPrimitive.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ButtonPrimitiveDefaults.kt
Due: :component

Rename ButtonText to Button
  README.md
  component/src/commonMain/kotlin/glass/yasan/kepko/component/AlertDialog.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Button.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ButtonDefaults.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ButtonIconTransitionSpecs.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceRadioGroupPicker.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceRadioGroupPickerChip.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/SelectableChip.kt
  component/src/jvmTest/snapshots/ButtonBlackPreview.png
  component/src/jvmTest/snapshots/ButtonDarkPreview.png
  component/src/jvmTest/snapshots/ButtonIconOnlyBlackPreview.png
  component/src/jvmTest/snapshots/ButtonIconOnlyDarkPreview.png
  component/src/jvmTest/snapshots/ButtonIconOnlyLightPreview.png
  component/src/jvmTest/snapshots/ButtonIconOnlySolarizedDarkPreview.png
  component/src/jvmTest/snapshots/ButtonIconOnlySolarizedLightPreview.png
  component/src/jvmTest/snapshots/ButtonLightPreview.png
  component/src/jvmTest/snapshots/ButtonSolarizedDarkPreview.png
  component/src/jvmTest/snapshots/ButtonSolarizedLightPreview.png
  sample/composeApp/assets/readme/ButtonDarkReadmePreview.png
  sample/composeApp/assets/readme/ButtonLightReadmePreview.png
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/HomeScreen.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/home/serialization/SerializationScreen.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/home/serialization/SerializationScreenModel.kt
  sample/composeApp/src/jvmTest/kotlin/glass/yasan/kepko/sample/readme/ComponentReadmePreview.kt
  serialization/src/commonMain/kotlin/glass/yasan/kepko/serialization/ContractButton.kt
  serialization/src/commonMain/kotlin/glass/yasan/kepko/serialization/contract/ButtonContract.kt
  serialization/src/jvmTest/kotlin/glass/yasan/kepko/serialization/contract/ButtonContractTest.kt
Due: :component

Bundle LICENSE and NOTICE in published artifacts
  NOTICE
  build.gradle.kts
Due: none

Update NOTICE
  NOTICE
Due: none

Bundle LICENSE and NOTICE in published artifacts (#62)
  NOTICE
  build.gradle.kts
Due: none

Bump version to 1.5.0
  build.gradle.kts
Due: none

Extract TitleBar from Scaffold
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Scaffold.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/TitleBar.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/HomeScreen.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/Route.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/SampleApp.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/TitleBarScreen.kt
Due: :component

Update source file strings.xml Update translations (English, United States)
  resource/src/commonMain/composeResources/values/strings.xml
Due: :resource

New translations strings.xml (Romanian) Update translations (Romanian)
  resource/src/commonMain/composeResources/values-ro-rRO/strings.xml
Due: :resource

New translations strings.xml (French) Update translations (French)
  resource/src/commonMain/composeResources/values-fr-rFR/strings.xml
Due: :resource

New translations strings.xml (Spanish) Update translations (Spanish)
  resource/src/commonMain/composeResources/values-es-rES/strings.xml
Due: :resource

New translations strings.xml (Afrikaans) Update translations (Afrikaans)
  resource/src/commonMain/composeResources/values-af-rZA/strings.xml
Due: :resource

New translations strings.xml (Arabic) Update translations (Arabic)
  resource/src/commonMain/composeResources/values-ar-rSA/strings.xml
Due: :resource

New translations strings.xml (Catalan) Update translations (Catalan)
  sample/composeApp/src/commonMain/composeResources/values-ca-rES/strings.xml
Due: none

New translations strings.xml (Catalan) Update translations (Catalan)
  resource/src/commonMain/composeResources/values-ca-rES/strings.xml
Due: :resource

New translations strings.xml (Czech) Update translations (Czech)
  sample/composeApp/src/commonMain/composeResources/values-cs-rCZ/strings.xml
Due: none

New translations strings.xml (Czech) Update translations (Czech)
  resource/src/commonMain/composeResources/values-cs-rCZ/strings.xml
Due: :resource

New translations strings.xml (Danish) Update translations (Danish)
  resource/src/commonMain/composeResources/values-da-rDK/strings.xml
Due: :resource

New translations strings.xml (German) Update translations (German)
  resource/src/commonMain/composeResources/values-de-rDE/strings.xml
Due: :resource
