Repository yasanglass/kepko: changes, and which Codecov flags are due for each by the changed paths.
All: :resource, :foundation, :component, :persistence

codecov.yml:

coverage:
  status:
    project: true

component_management:
  individual_components:
    - component_id: resource
      name: ":resource"
      paths:
        - "resource/src/**"
    - component_id: foundation
      name: ":foundation"
      paths:
        - "foundation/src/**"
    - component_id: component
      name: ":component"
      paths:
        - "component/src/**"
    - component_id: persistence
      name: ":persistence"
      paths:
        - "persistence/src/**"

New translations strings.xml (Dari)
  resource/src/commonMain/composeResources/values-fa-rAF/strings.xml
Due: :resource

New translations strings.xml (Pashto)
  resource/src/commonMain/composeResources/values-ps-rAF/strings.xml
Due: :resource

Wrap sample README previews in PreviewPersistentKepkoTheme
  sample/composeApp/src/jvmTest/kotlin/glass/yasan/kepko/sample/readme/SampleReadmePreview.kt
Due: none

Update dependencies & Gradle setup
  build.gradle.kts
  component/build.gradle.kts
  foundation/build.gradle.kts
  gradle/gradle-daemon-jvm.properties
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  kotlin-js-store/yarn.lock
  persistence/build.gradle.kts
  resource/build.gradle.kts
  sample/composeApp/build.gradle.kts
  serialization/build.gradle.kts
  settings.gradle.kts
Due: none

Implement Profile support for persistence feature
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Scaffold.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Subtitle.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/AnimatedPersistentKepkoTheme.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistenceManager.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentKepkoTheme.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeButton.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeProfileContent.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreen.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/ProfilePersistenceManager.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/UserVisibleProfile.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/internal/PersistenceManagerImpl.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/internal/PreviewPersistenceManager.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/internal/ProfilePersistenceManagerImpl.kt
  persistence/src/commonTest/kotlin/glass/yasan/kepko/persistence/PersistenceManagerTest.kt
  persistence/src/commonTest/kotlin/glass/yasan/kepko/persistence/ProfilePersistenceManagerImplTest.kt
  persistence/src/jvmTest/kotlin/glass/yasan/kepko/persistence/PersistentKepkoThemeTest.kt
  persistence/src/jvmTest/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreenTest.kt
  resource/src/commonMain/composeResources/values/strings.xml
  resource/src/commonMain/kotlin/glass/yasan/kepko/resource/Strings.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/HomeScreen.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/ProfilesScreen.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/Route.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/SampleApp.kt
  sample/composeApp/src/jvmTest/kotlin/glass/yasan/kepko/sample/readme/SampleReadmePreview.kt
Due: :resource, :component, :persistence

Extract SubtitleBar into its own file
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Subtitle.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/SubtitleBar.kt
Due: :component

Show overridden badge on global theme screen
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeProfileContent.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreen.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/SampleApp.kt
Due: :persistence

Add overriddenBy badge variant
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Badge.kt
  resource/src/commonMain/composeResources/values/strings.xml
  resource/src/commonMain/kotlin/glass/yasan/kepko/resource/Strings.kt
Due: :resource, :component

Constrain subtitle text width so long subtitles ellipsize
  component/src/commonMain/kotlin/glass/yasan/kepko/component/SubtitleBar.kt
Due: :component

Make ProfilePersistenceManagerImpl internal
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/internal/ProfilePersistenceManagerImpl.kt
Due: :persistence

Key UserVisibleProfile equality on id
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/UserVisibleProfile.kt
Due: :persistence

Guard sample profile lookups against unknown ids
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/SampleApp.kt
Due: none

Update source file strings.xml
  resource/src/commonMain/composeResources/values/strings.xml
Due: :resource

New translations strings.xml (Romanian)
  resource/src/commonMain/composeResources/values-ro-rRO/strings.xml
Due: :resource

New translations strings.xml (French)
  resource/src/commonMain/composeResources/values-fr-rFR/strings.xml
Due: :resource

New translations strings.xml (Spanish)
  resource/src/commonMain/composeResources/values-es-rES/strings.xml
Due: :resource

New translations strings.xml (Afrikaans)
  resource/src/commonMain/composeResources/values-af-rZA/strings.xml
Due: :resource

New translations strings.xml (Arabic)
  resource/src/commonMain/composeResources/values-ar-rSA/strings.xml
Due: :resource

New translations strings.xml (Catalan)
  resource/src/commonMain/composeResources/values-ca-rES/strings.xml
Due: :resource

New translations strings.xml (Czech)
  resource/src/commonMain/composeResources/values-cs-rCZ/strings.xml
Due: :resource

New translations strings.xml (Danish)
  resource/src/commonMain/composeResources/values-da-rDK/strings.xml
Due: :resource

New translations strings.xml (German)
  resource/src/commonMain/composeResources/values-de-rDE/strings.xml
Due: :resource

New translations strings.xml (Greek)
  resource/src/commonMain/composeResources/values-el-rGR/strings.xml
Due: :resource

New translations strings.xml (Finnish)
  resource/src/commonMain/composeResources/values-fi-rFI/strings.xml
Due: :resource

New translations strings.xml (Hebrew)
  resource/src/commonMain/composeResources/values-iw-rIL/strings.xml
Due: :resource

New translations strings.xml (Hungarian)
  resource/src/commonMain/composeResources/values-hu-rHU/strings.xml
Due: :resource

New translations strings.xml (Italian)
  resource/src/commonMain/composeResources/values-it-rIT/strings.xml
Due: :resource

New translations strings.xml (Japanese)
  resource/src/commonMain/composeResources/values-ja-rJP/strings.xml
Due: :resource

New translations strings.xml (Korean)
  resource/src/commonMain/composeResources/values-ko-rKR/strings.xml
Due: :resource

New translations strings.xml (Dutch)
  resource/src/commonMain/composeResources/values-nl-rNL/strings.xml
Due: :resource

New translations strings.xml (Norwegian)
  resource/src/commonMain/composeResources/values-no-rNO/strings.xml
Due: :resource

New translations strings.xml (Polish)
  resource/src/commonMain/composeResources/values-pl-rPL/strings.xml
Due: :resource

New translations strings.xml (Portuguese)
  resource/src/commonMain/composeResources/values-pt-rPT/strings.xml
Due: :resource

New translations strings.xml (Russian)
  resource/src/commonMain/composeResources/values-ru-rRU/strings.xml
Due: :resource

New translations strings.xml (Slovak)
  resource/src/commonMain/composeResources/values-sk-rSK/strings.xml
Due: :resource

New translations strings.xml (Serbian (Cyrillic))
  resource/src/commonMain/composeResources/values-sr-rSP/strings.xml
Due: :resource

New translations strings.xml (Swedish)
  resource/src/commonMain/composeResources/values-sv-rSE/strings.xml
Due: :resource

New translations strings.xml (Turkish)
  resource/src/commonMain/composeResources/values-tr-rTR/strings.xml
Due: :resource

New translations strings.xml (Ukrainian)
  resource/src/commonMain/composeResources/values-uk-rUA/strings.xml
Due: :resource
