Repository yasanglass/kepko: changes, and which Codecov flags are due for each by the changed paths.
All: :resource, :foundation, :component, :persistence

codecov.yml:

coverage:
  status:
    project: true

component_management:
  individual_components:
    - component_id: resource
      name: ":resource"
      paths:
        - "resource/src/**"
    - component_id: foundation
      name: ":foundation"
      paths:
        - "foundation/src/**"
    - component_id: component
      name: ":component"
      paths:
        - "component/src/**"
    - component_id: persistence
      name: ":persistence"
      paths:
        - "persistence/src/**"

Update KeyValue usage examples and previews to cover more usage styles
  component/src/commonMain/kotlin/glass/yasan/kepko/component/KeyValue.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/home/ExampleKeyValue.kt
Due: :component

Bump version to 1.5.3
  build.gradle.kts
Due: none

Remove `update-gradle-wrapper.yml`
  .github/workflows/update-gradle-wrapper.yml
Due: none

Add modal bottom sheet title model
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ModalBottomSheet.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ModalBottomSheetTitle.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceRadioGroupPicker.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceRadioGroupPickerChip.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceRadioGroupSheet.kt
Due: :component

Add expandable column component
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ExpandableColumn.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ExpandableColumnColors.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ExpandableColumnDefaults.kt
  resource/src/commonMain/composeResources/drawable/ic_chevron_down.xml
  resource/src/commonMain/kotlin/glass/yasan/kepko/resource/Icons.kt
  resource/src/commonMain/kotlin/glass/yasan/kepko/resource/NamedIcon.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/HomeScreen.kt
Due: :resource, :component

Bump version to 1.5.4
  build.gradle.kts
Due: none

Add radio group item descriptions
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ModalBottomSheet.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceRadioGroup.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceRadioGroupItem.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceRadioGroupPicker.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceRadioGroupPickerChip.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceRadioGroupSheet.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/TitleBar.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/HomeScreen.kt
  sample/composeApp/src/jvmTest/kotlin/glass/yasan/kepko/sample/readme/ComponentReadmePreview.kt
Due: :component

Refine theme preference mode selection
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentOnboardingThemeContent.kt
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreen.kt
  persistence/src/jvmTest/kotlin/glass/yasan/kepko/persistence/PersistentOnboardingThemeContentTest.kt
  persistence/src/jvmTest/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreenTest.kt
  resource/src/commonMain/composeResources/values/strings.xml
  resource/src/commonMain/kotlin/glass/yasan/kepko/resource/Strings.kt
Due: :resource, :persistence

Stabilize theme preference screen test
  persistence/src/jvmTest/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreenTest.kt
Due: :persistence

Bump version to 1.5.5
  build.gradle.kts
Due: none

Update source file strings.xml
  resource/src/commonMain/composeResources/values/strings.xml
Due: :resource

New translations strings.xml (Romanian)
  resource/src/commonMain/composeResources/values-ro-rRO/strings.xml
Due: :resource

New translations strings.xml (French)
  resource/src/commonMain/composeResources/values-fr-rFR/strings.xml
Due: :resource

New translations strings.xml (Spanish)
  resource/src/commonMain/composeResources/values-es-rES/strings.xml
Due: :resource

New translations strings.xml (Afrikaans)
  resource/src/commonMain/composeResources/values-af-rZA/strings.xml
Due: :resource

New translations strings.xml (Arabic)
  resource/src/commonMain/composeResources/values-ar-rSA/strings.xml
Due: :resource

New translations strings.xml (Catalan)
  resource/src/commonMain/composeResources/values-ca-rES/strings.xml
Due: :resource

New translations strings.xml (Czech)
  resource/src/commonMain/composeResources/values-cs-rCZ/strings.xml
Due: :resource

New translations strings.xml (Danish)
  resource/src/commonMain/composeResources/values-da-rDK/strings.xml
Due: :resource

New translations strings.xml (German)
  resource/src/commonMain/composeResources/values-de-rDE/strings.xml
Due: :resource

New translations strings.xml (Greek)
  resource/src/commonMain/composeResources/values-el-rGR/strings.xml
Due: :resource

New translations strings.xml (Finnish)
  resource/src/commonMain/composeResources/values-fi-rFI/strings.xml
Due: :resource

New translations strings.xml (Hebrew)
  resource/src/commonMain/composeResources/values-iw-rIL/strings.xml
Due: :resource

New translations strings.xml (Hungarian)
  resource/src/commonMain/composeResources/values-hu-rHU/strings.xml
Due: :resource

New translations strings.xml (Italian)
  resource/src/commonMain/composeResources/values-it-rIT/strings.xml
Due: :resource

New translations strings.xml (Japanese)
  resource/src/commonMain/composeResources/values-ja-rJP/strings.xml
Due: :resource

New translations strings.xml (Korean)
  resource/src/commonMain/composeResources/values-ko-rKR/strings.xml
Due: :resource

New translations strings.xml (Dutch)
  resource/src/commonMain/composeResources/values-nl-rNL/strings.xml
Due: :resource

New translations strings.xml (Norwegian)
  resource/src/commonMain/composeResources/values-no-rNO/strings.xml
Due: :resource

New translations strings.xml (Polish)
  resource/src/commonMain/composeResources/values-pl-rPL/strings.xml
Due: :resource

New translations strings.xml (Portuguese)
  resource/src/commonMain/composeResources/values-pt-rPT/strings.xml
Due: :resource

New translations strings.xml (Russian)
  resource/src/commonMain/composeResources/values-ru-rRU/strings.xml
Due: :resource

New translations strings.xml (Slovak)
  resource/src/commonMain/composeResources/values-sk-rSK/strings.xml
Due: :resource

New translations strings.xml (Serbian (Cyrillic))
  resource/src/commonMain/composeResources/values-sr-rSP/strings.xml
Due: :resource

New translations strings.xml (Swedish)
  resource/src/commonMain/composeResources/values-sv-rSE/strings.xml
Due: :resource

New translations strings.xml (Turkish)
  resource/src/commonMain/composeResources/values-tr-rTR/strings.xml
Due: :resource

New translations strings.xml (Ukrainian)
  resource/src/commonMain/composeResources/values-uk-rUA/strings.xml
Due: :resource

New translations strings.xml (Chinese Simplified)
  resource/src/commonMain/composeResources/values-zh-rCN/strings.xml
Due: :resource

New translations strings.xml (Chinese Traditional)
  resource/src/commonMain/composeResources/values-zh-rTW/strings.xml
Due: :resource

New translations strings.xml (Vietnamese)
  resource/src/commonMain/composeResources/values-vi-rVN/strings.xml
Due: :resource
