Repository yasanglass/kepko: changes, and which Codecov flags are due for each by the changed paths.
All: :resource, :foundation, :component, :persistence

New translations strings.xml (Portuguese, Brazilian)
  resource/src/commonMain/composeResources/values-pt-rBR/strings.xml
Due: :resource

New translations strings.xml (Persian)
  resource/src/commonMain/composeResources/values-fa-rIR/strings.xml
Due: :resource

New translations strings.xml (Thai)
  resource/src/commonMain/composeResources/values-th-rTH/strings.xml
Due: :resource

New translations strings.xml (English, United Kingdom)
  resource/src/commonMain/composeResources/values-en-rGB/strings.xml
Due: :resource

New translations strings.xml (Dari)
  resource/src/commonMain/composeResources/values-fa-rAF/strings.xml
Due: :resource

New translations strings.xml (Pashto)
  resource/src/commonMain/composeResources/values-ps-rAF/strings.xml
Due: :resource

Update Translations [skip ci] (#68)
  resource/src/commonMain/composeResources/values-af-rZA/strings.xml
  resource/src/commonMain/composeResources/values-ar-rSA/strings.xml
  resource/src/commonMain/composeResources/values-ca-rES/strings.xml
  resource/src/commonMain/composeResources/values-cs-rCZ/strings.xml
  resource/src/commonMain/composeResources/values-da-rDK/strings.xml
  resource/src/commonMain/composeResources/values-de-rDE/strings.xml
  resource/src/commonMain/composeResources/values-el-rGR/strings.xml
  resource/src/commonMain/composeResources/values-en-rGB/strings.xml
  resource/src/commonMain/composeResources/values-es-rES/strings.xml
  resource/src/commonMain/composeResources/values-fa-rAF/strings.xml
  resource/src/commonMain/composeResources/values-fa-rIR/strings.xml
  resource/src/commonMain/composeResources/values-fi-rFI/strings.xml
  resource/src/commonMain/composeResources/values-fr-rFR/strings.xml
  resource/src/commonMain/composeResources/values-hu-rHU/strings.xml
  resource/src/commonMain/composeResources/values-it-rIT/strings.xml
  resource/src/commonMain/composeResources/values-iw-rIL/strings.xml
  resource/src/commonMain/composeResources/values-ja-rJP/strings.xml
  resource/src/commonMain/composeResources/values-ko-rKR/strings.xml
  resource/src/commonMain/composeResources/values-nl-rNL/strings.xml
  resource/src/commonMain/composeResources/values-no-rNO/strings.xml
  resource/src/commonMain/composeResources/values-pl-rPL/strings.xml
  resource/src/commonMain/composeResources/values-ps-rAF/strings.xml
  resource/src/commonMain/composeResources/values-pt-rBR/strings.xml
  resource/src/commonMain/composeResources/values-pt-rPT/strings.xml
  resource/src/commonMain/composeResources/values-ro-rRO/strings.xml
  resource/src/commonMain/composeResources/values-ru-rRU/strings.xml
  resource/src/commonMain/composeResources/values-sk-rSK/strings.xml
  resource/src/commonMain/composeResources/values-sr-rSP/strings.xml
  resource/src/commonMain/composeResources/values-sv-rSE/strings.xml
  resource/src/commonMain/composeResources/values-th-rTH/strings.xml
  resource/src/commonMain/composeResources/values-tr-rTR/strings.xml
  resource/src/commonMain/composeResources/values-uk-rUA/strings.xml
  resource/src/commonMain/composeResources/values-vi-rVN/strings.xml
  resource/src/commonMain/composeResources/values-zh-rCN/strings.xml
  resource/src/commonMain/composeResources/values-zh-rTW/strings.xml
Due: :resource

Add segmented picker component
  component/src/commonMain/kotlin/glass/yasan/kepko/component/SegmentedPicker.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/SegmentedPickerColors.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/SegmentedPickerDefaults.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/SegmentedPickerDisplayMode.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/SegmentedPickerItem.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/HomeScreen.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/home/ExampleSegmentedPicker.kt
Due: :component

Bump version to 1.5.6
  build.gradle.kts
Due: none

Add SegmentedPicker with chip row sample
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/home/ExampleSegmentedPicker.kt
Due: none

Match SegmentedPicker height to Button
  component/src/commonMain/kotlin/glass/yasan/kepko/component/SegmentedPickerDefaults.kt
Due: :component

Bump version to 1.5.7
  build.gradle.kts
Due: none

Stop uppercasing text in components
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Button.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ModalBottomSheet.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceRadioGroupPickerChip.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/TitleBar.kt
Due: :component

Add description parameter to Button
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Button.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/HomeScreen.kt
Due: :component

Migrate to AGP 9.0 KMP library plugin
  build.gradle.kts
  component/build.gradle.kts
  foundation/build.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
  persistence/build.gradle.kts
  resource/build.gradle.kts
  sample/androidApp/build.gradle.kts
  sample/composeApp/build.gradle.kts
  serialization/build.gradle.kts
Due: none

Even out theme screen section spacing
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreen.kt
Due: :persistence

Drop deprecated iosX64, macosX64, and macosArm64 targets
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  component/build.gradle.kts
  foundation/build.gradle.kts
  gradle.properties
  persistence/build.gradle.kts
  resource/build.gradle.kts
  sample/composeApp/build.gradle.kts
  sample/composeApp/src/macosMain/kotlin/glass/yasan/kepko/sample/main.kt
  serialization/build.gradle.kts
Due: none

Add top divider color parameter to DragHandle
  component/src/commonMain/kotlin/glass/yasan/kepko/component/DragHandle.kt
Due: :component

Extract Button label into a helper composable
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Button.kt
Due: :component

Pass useStandardTestDispatcherForComposition to DesktopComposeUiTest
  sample/composeApp/src/jvmTest/kotlin/glass/yasan/kepko/sample/ReadmeScreenshotTests.kt
Due: none

Adjust DragHandle colors
  component/src/commonMain/kotlin/glass/yasan/kepko/component/DragHandle.kt
Due: :component

Pin iOS build to latest-stable Xcode
  .github/workflows/ci.yml
Due: none

Bump version to 1.5.8
  build.gradle.kts
Due: none

Align Button label column to text alignment
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Button.kt
Due: :component

Revert "Stop uppercasing text in components"
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Button.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ModalBottomSheet.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceRadioGroupPickerChip.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/TitleBar.kt
Due: :component

Standardize component titles to uppercase Bold 14sp
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Button.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ModalBottomSheet.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceContainer.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceRadioGroup.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceRadioGroupPickerChip.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/SegmentedPicker.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/TitleBar.kt
Due: :component

Make theme test text lookups case-insensitive
  persistence/src/jvmTest/kotlin/glass/yasan/kepko/persistence/PersistentOnboardingThemeContentTest.kt
  persistence/src/jvmTest/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreenTest.kt
Due: :persistence

Inset SegmentedPicker indicator for clearer selected state
  component/src/commonMain/kotlin/glass/yasan/kepko/component/SegmentedPicker.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/SegmentedPickerDefaults.kt
Due: :component

Use centered segmented picker for theme mode selection
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreen.kt
  persistence/src/jvmTest/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreenTest.kt
  resource/src/commonMain/composeResources/values/strings.xml
Due: :resource, :persistence

Wrap theme mode picker labels to two lines
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreen.kt
Due: :persistence

Support multi-line labels in SegmentedPicker
  component/src/commonMain/kotlin/glass/yasan/kepko/component/SegmentedPicker.kt
Due: :component

Switch workflows from Zulu to Temurin
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/regenerate-snapshots.yml
Due: none

Bump version to 1.5.9
  build.gradle.kts
Due: none

Update source file strings.xml
  resource/src/commonMain/composeResources/values/strings.xml
Due: :resource

New translations strings.xml (Romanian)
  resource/src/commonMain/composeResources/values-ro-rRO/strings.xml
Due: :resource

New translations strings.xml (French)
  resource/src/commonMain/composeResources/values-fr-rFR/strings.xml
Due: :resource

New translations strings.xml (Spanish)
  resource/src/commonMain/composeResources/values-es-rES/strings.xml
Due: :resource

New translations strings.xml (Afrikaans)
  resource/src/commonMain/composeResources/values-af-rZA/strings.xml
Due: :resource

New translations strings.xml (Arabic)
  resource/src/commonMain/composeResources/values-ar-rSA/strings.xml
Due: :resource

New translations strings.xml (Catalan)
  resource/src/commonMain/composeResources/values-ca-rES/strings.xml
Due: :resource

Path conditions:
  :resource: any of: resource/src/**
  :foundation: any of: foundation/src/**
  :component: any of: component/src/**
  :persistence: any of: persistence/src/**
