Repository yasanglass/kepko: changes, and which Codecov flags are due for each by the changed paths.
All: :resource, :foundation, :component, :persistence

codecov.yml:

coverage:
  status:
    project: true

component_management:
  individual_components:
    - component_id: resource
      name: ":resource"
      paths:
        - "resource/src/**"
    - component_id: foundation
      name: ":foundation"
      paths:
        - "foundation/src/**"
    - component_id: component
      name: ":component"
      paths:
        - "component/src/**"
    - component_id: persistence
      name: ":persistence"
      paths:
        - "persistence/src/**"

New translations strings.xml (Greek) Update translations (Greek)
  resource/src/commonMain/composeResources/values-el-rGR/strings.xml
Due: :resource

New translations strings.xml (Finnish) Update translations (Finnish)
  resource/src/commonMain/composeResources/values-fi-rFI/strings.xml
Due: :resource

New translations strings.xml (Hebrew) Update translations (Hebrew)
  resource/src/commonMain/composeResources/values-iw-rIL/strings.xml
Due: :resource

New translations strings.xml (Hungarian) Update translations (Hungarian)
  resource/src/commonMain/composeResources/values-hu-rHU/strings.xml
Due: :resource

New translations strings.xml (Italian) Update translations (Italian)
  sample/composeApp/src/commonMain/composeResources/values-it-rIT/strings.xml
Due: none

New translations strings.xml (Italian) Update translations (Italian)
  resource/src/commonMain/composeResources/values-it-rIT/strings.xml
Due: :resource

New translations strings.xml (Japanese) Update translations (Japanese)
  resource/src/commonMain/composeResources/values-ja-rJP/strings.xml
Due: :resource

New translations strings.xml (Korean) Update translations (Korean)
  resource/src/commonMain/composeResources/values-ko-rKR/strings.xml
Due: :resource

New translations strings.xml (Dutch) Update translations (Dutch)
  resource/src/commonMain/composeResources/values-nl-rNL/strings.xml
Due: :resource

New translations strings.xml (Norwegian) Update translations (Norwegian)
  resource/src/commonMain/composeResources/values-no-rNO/strings.xml
Due: :resource

New translations strings.xml (Polish) Update translations (Polish)
  resource/src/commonMain/composeResources/values-pl-rPL/strings.xml
Due: :resource

New translations strings.xml (Portuguese) Update translations (Portuguese)
  resource/src/commonMain/composeResources/values-pt-rPT/strings.xml
Due: :resource

New translations strings.xml (Russian) Update translations (Russian)
  resource/src/commonMain/composeResources/values-ru-rRU/strings.xml
Due: :resource

New translations strings.xml (Slovak) Update translations (Slovak)
  resource/src/commonMain/composeResources/values-sk-rSK/strings.xml
Due: :resource

New translations strings.xml (Serbian (Cyrillic)) Update translations (Serbian (Cyrillic))
  resource/src/commonMain/composeResources/values-sr-rSP/strings.xml
Due: :resource

New translations strings.xml (Swedish) Update translations (Swedish)
  resource/src/commonMain/composeResources/values-sv-rSE/strings.xml
Due: :resource

New translations strings.xml (Turkish) Update translations (Turkish)
  resource/src/commonMain/composeResources/values-tr-rTR/strings.xml
Due: :resource

New translations strings.xml (Ukrainian) Update translations (Ukrainian)
  resource/src/commonMain/composeResources/values-uk-rUA/strings.xml
Due: :resource

New translations strings.xml (Chinese Simplified) Update translations (Chinese Simplified)
  resource/src/commonMain/composeResources/values-zh-rCN/strings.xml
Due: :resource

New translations strings.xml (Chinese Traditional) Update translations (Chinese Traditional)
  resource/src/commonMain/composeResources/values-zh-rTW/strings.xml
Due: :resource

New translations strings.xml (Vietnamese) Update translations (Vietnamese)
  resource/src/commonMain/composeResources/values-vi-rVN/strings.xml
Due: :resource

New translations strings.xml (Portuguese, Brazilian) Update translations (Portuguese, Brazilian)
  resource/src/commonMain/composeResources/values-pt-rBR/strings.xml
Due: :resource

New translations strings.xml (Persian) Update translations (Persian)
  sample/composeApp/src/commonMain/composeResources/values-fa-rIR/strings.xml
Due: none

New translations strings.xml (Persian) Update translations (Persian)
  resource/src/commonMain/composeResources/values-fa-rIR/strings.xml
Due: :resource

New translations strings.xml (Thai) Update translations (Thai)
  resource/src/commonMain/composeResources/values-th-rTH/strings.xml
Due: :resource

New translations strings.xml (English, United Kingdom) Update translations (English, United Kingdom)
  resource/src/commonMain/composeResources/values-en-rGB/strings.xml
Due: :resource

New translations strings.xml (Dari) Update translations (Dari)
  resource/src/commonMain/composeResources/values-fa-rAF/strings.xml
Due: :resource

New translations strings.xml (Pashto) Update translations (Pashto)
  resource/src/commonMain/composeResources/values-ps-rAF/strings.xml
Due: :resource

Extract TitleBar from Scaffold
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Scaffold.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/TitleBar.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/HomeScreen.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/Route.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/SampleApp.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/TitleBarScreen.kt
  sample/composeApp/src/jvmTest/kotlin/glass/yasan/kepko/sample/readme/SampleReadmePreview.kt
Due: :component

Update dependencies
  gradle/libs.versions.toml
Due: none

Adjust animation handling on ButtonPrimitive
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ButtonPrimitive.kt
Due: :component

Bump version to 1.5.1
  build.gradle.kts
Due: none

Reuse Button in SelectableChip
  component/src/commonMain/kotlin/glass/yasan/kepko/component/SelectableChip.kt
Due: :component

Set maxLines to 1 for TextPill
  component/src/commonMain/kotlin/glass/yasan/kepko/component/TextPill.kt
Due: :component

Redesign KeyValue component
  component/src/commonMain/kotlin/glass/yasan/kepko/component/KeyValue.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/kepko/sample/home/ExampleKeyValue.kt
Due: :component

Remove icon transition animations from Button
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Button.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ButtonDefaults.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ButtonIconTransitionSpecs.kt
Due: :component

Revert "Set maxLines to 1 for TextPill"
  component/src/commonMain/kotlin/glass/yasan/kepko/component/TextPill.kt
Due: :component

Fix detekt issues on KeyValue
  component/src/commonMain/kotlin/glass/yasan/kepko/component/KeyValue.kt
Due: :component

Bump version to 1.5.2
  build.gradle.kts
Due: none

Reduce internal padding in KeyValue
  component/src/commonMain/kotlin/glass/yasan/kepko/component/KeyValue.kt
Due: :component
