Repository yasanglass/kepko: changes, and which Codecov flags are due for each by the changed paths.
All: :resource, :foundation, :component, :persistence

codecov.yml:

coverage:
  status:
    project: true

component_management:
  individual_components:
    - component_id: resource
      name: ":resource"
      paths:
        - "resource/src/**"
    - component_id: foundation
      name: ":foundation"
      paths:
        - "foundation/src/**"
    - component_id: component
      name: ":component"
      paths:
        - "component/src/**"
    - component_id: persistence
      name: ":persistence"
      paths:
        - "persistence/src/**"

New translations strings.xml (Ukrainian) Update translations (Ukrainian)
  resource/src/commonMain/composeResources/values-uk-rUA/strings.xml
Due: :resource

New translations strings.xml (Chinese Simplified) Update translations (Chinese Simplified)
  resource/src/commonMain/composeResources/values-zh-rCN/strings.xml
Due: :resource

New translations strings.xml (Chinese Traditional) Update translations (Chinese Traditional)
  resource/src/commonMain/composeResources/values-zh-rTW/strings.xml
Due: :resource

New translations strings.xml (Vietnamese) Update translations (Vietnamese)
  resource/src/commonMain/composeResources/values-vi-rVN/strings.xml
Due: :resource

New translations strings.xml (Portuguese, Brazilian) Update translations (Portuguese, Brazilian)
  resource/src/commonMain/composeResources/values-pt-rBR/strings.xml
Due: :resource

New translations strings.xml (Persian) Update translations (Persian)
  resource/src/commonMain/composeResources/values-fa-rIR/strings.xml
Due: :resource

New translations strings.xml (Thai) Update translations (Thai)
  resource/src/commonMain/composeResources/values-th-rTH/strings.xml
Due: :resource

New translations strings.xml (English, United Kingdom) Update translations (English, United Kingdom)
  resource/src/commonMain/composeResources/values-en-rGB/strings.xml
Due: :resource

New translations strings.xml (Dari) Update translations (Dari)
  resource/src/commonMain/composeResources/values-fa-rAF/strings.xml
Due: :resource

New translations strings.xml (Pashto) Update translations (Pashto)
  resource/src/commonMain/composeResources/values-ps-rAF/strings.xml
Due: :resource

Update Translations [skip ci] (#42)
  resource/src/commonMain/composeResources/values-af-rZA/strings.xml
  resource/src/commonMain/composeResources/values-ar-rSA/strings.xml
  resource/src/commonMain/composeResources/values-ca-rES/strings.xml
  resource/src/commonMain/composeResources/values-cs-rCZ/strings.xml
  resource/src/commonMain/composeResources/values-da-rDK/strings.xml
  resource/src/commonMain/composeResources/values-de-rDE/strings.xml
  resource/src/commonMain/composeResources/values-el-rGR/strings.xml
  resource/src/commonMain/composeResources/values-en-rGB/strings.xml
  resource/src/commonMain/composeResources/values-es-rES/strings.xml
  resource/src/commonMain/composeResources/values-fa-rAF/strings.xml
  resource/src/commonMain/composeResources/values-fa-rIR/strings.xml
  resource/src/commonMain/composeResources/values-fi-rFI/strings.xml
  resource/src/commonMain/composeResources/values-fr-rFR/strings.xml
  resource/src/commonMain/composeResources/values-hu-rHU/strings.xml
  resource/src/commonMain/composeResources/values-it-rIT/strings.xml
  resource/src/commonMain/composeResources/values-iw-rIL/strings.xml
  resource/src/commonMain/composeResources/values-ja-rJP/strings.xml
  resource/src/commonMain/composeResources/values-ko-rKR/strings.xml
  resource/src/commonMain/composeResources/values-nl-rNL/strings.xml
  resource/src/commonMain/composeResources/values-no-rNO/strings.xml
  resource/src/commonMain/composeResources/values-pl-rPL/strings.xml
  resource/src/commonMain/composeResources/values-ps-rAF/strings.xml
  resource/src/commonMain/composeResources/values-pt-rBR/strings.xml
  resource/src/commonMain/composeResources/values-pt-rPT/strings.xml
  resource/src/commonMain/composeResources/values-ro-rRO/strings.xml
  resource/src/commonMain/composeResources/values-ru-rRU/strings.xml
  resource/src/commonMain/composeResources/values-sk-rSK/strings.xml
  resource/src/commonMain/composeResources/values-sr-rSP/strings.xml
  resource/src/commonMain/composeResources/values-sv-rSE/strings.xml
  resource/src/commonMain/composeResources/values-th-rTH/strings.xml
  resource/src/commonMain/composeResources/values-tr-rTR/strings.xml
  resource/src/commonMain/composeResources/values-uk-rUA/strings.xml
  resource/src/commonMain/composeResources/values-vi-rVN/strings.xml
  resource/src/commonMain/composeResources/values-zh-rCN/strings.xml
  resource/src/commonMain/composeResources/values-zh-rTW/strings.xml
Due: :resource

Add PersistentPreferenceThemeScreen screenshots to README
  README.md
  sample/composeApp/assets/readme/PersistentPreferenceThemeScreenDarkReadmePreview.png
  sample/composeApp/assets/readme/PersistentPreferenceThemeScreenLightReadmePreview.png
  sample/composeApp/src/jvmTest/kotlin/glass/yasan/kepko/sample/readme/PersistenceReadmePreview.kt
Due: none

Move Theme Styles section above Components in README
  README.md
Due: none

Use full-screen height for Sample and Persistence README previews
  sample/composeApp/src/jvmTest/kotlin/glass/yasan/kepko/sample/ReadmeScreenshotTests.kt
  sample/composeApp/src/jvmTest/kotlin/glass/yasan/kepko/sample/readme/PersistenceReadmePreview.kt
  sample/composeApp/src/jvmTest/kotlin/glass/yasan/kepko/sample/readme/SampleReadmePreview.kt
Due: none

Revert "Add lorem ipsum string"
  resource/src/commonMain/composeResources/values/strings.xml
  resource/src/commonMain/kotlin/glass/yasan/kepko/resource/Strings.kt
Due: :resource

ci: add Codecov OIDC fallback for Dependabot PRs
  .github/workflows/jvm.yml
Due: none

Show leading icon in PreferenceRadioGroupPicker modal
  component/src/commonMain/kotlin/glass/yasan/kepko/component/PreferenceRadioGroupPicker.kt
Due: :component

ci: fix Codecov workflow token checks
  .github/workflows/jvm.yml
Due: none

Add sample module to Clean Record Snapshots run config
  .run/Clean Record Snapshots.run.xml
Due: none

Fix README screenshot test window size to match preview dimensions
  sample/composeApp/src/jvmTest/kotlin/glass/yasan/kepko/sample/ReadmeScreenshotTests.kt
Due: none

Rename `color` parameter on Icon/IconButton to `tint`
  component/src/commonMain/kotlin/glass/yasan/kepko/component/Icon.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/IconButton.kt
Due: :component

Fix license badge on readme
  README.md
Due: none

Change default ButtonText shape to match preference components
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ButtonText.kt
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ButtonTextDefaults.kt
Due: :component

Bump version to 1.3.7
  build.gradle.kts
Due: none

New translations strings.xml (Romanian) Update translations (Romanian)
  resource/src/commonMain/composeResources/values-ro-rRO/strings.xml
Due: :resource

New translations strings.xml (French) Update translations (French)
  resource/src/commonMain/composeResources/values-fr-rFR/strings.xml
Due: :resource

New translations strings.xml (Spanish) Update translations (Spanish)
  resource/src/commonMain/composeResources/values-es-rES/strings.xml
Due: :resource

New translations strings.xml (Afrikaans) Update translations (Afrikaans)
  resource/src/commonMain/composeResources/values-af-rZA/strings.xml
Due: :resource

New translations strings.xml (Arabic) Update translations (Arabic)
  resource/src/commonMain/composeResources/values-ar-rSA/strings.xml
Due: :resource

New translations strings.xml (Catalan) Update translations (Catalan)
  resource/src/commonMain/composeResources/values-ca-rES/strings.xml
Due: :resource

New translations strings.xml (Czech) Update translations (Czech)
  resource/src/commonMain/composeResources/values-cs-rCZ/strings.xml
Due: :resource

New translations strings.xml (Danish) Update translations (Danish)
  resource/src/commonMain/composeResources/values-da-rDK/strings.xml
Due: :resource

New translations strings.xml (German) Update translations (German)
  resource/src/commonMain/composeResources/values-de-rDE/strings.xml
Due: :resource

New translations strings.xml (Greek) Update translations (Greek)
  resource/src/commonMain/composeResources/values-el-rGR/strings.xml
Due: :resource

New translations strings.xml (Finnish) Update translations (Finnish)
  resource/src/commonMain/composeResources/values-fi-rFI/strings.xml
Due: :resource

New translations strings.xml (Hebrew) Update translations (Hebrew)
  resource/src/commonMain/composeResources/values-iw-rIL/strings.xml
Due: :resource

New translations strings.xml (Hungarian) Update translations (Hungarian)
  resource/src/commonMain/composeResources/values-hu-rHU/strings.xml
Due: :resource

New translations strings.xml (Italian) Update translations (Italian)
  resource/src/commonMain/composeResources/values-it-rIT/strings.xml
Due: :resource

New translations strings.xml (Japanese) Update translations (Japanese)
  resource/src/commonMain/composeResources/values-ja-rJP/strings.xml
Due: :resource
