Repository yasanglass/kepko: changes, and which Codecov flags are due for each by the changed paths.
All: :resource, :foundation, :component, :persistence

New translations strings.xml (Chinese Simplified)
  resource/src/commonMain/composeResources/values-zh-rCN/strings.xml
Due: :resource

New translations strings.xml (Chinese Traditional)
  resource/src/commonMain/composeResources/values-zh-rTW/strings.xml
Due: :resource

New translations strings.xml (Vietnamese)
  resource/src/commonMain/composeResources/values-vi-rVN/strings.xml
Due: :resource

New translations strings.xml (Portuguese, Brazilian)
  resource/src/commonMain/composeResources/values-pt-rBR/strings.xml
Due: :resource

New translations strings.xml (Persian)
  resource/src/commonMain/composeResources/values-fa-rIR/strings.xml
Due: :resource

New translations strings.xml (Thai)
  resource/src/commonMain/composeResources/values-th-rTH/strings.xml
Due: :resource

New translations strings.xml (English, United Kingdom)
  resource/src/commonMain/composeResources/values-en-rGB/strings.xml
Due: :resource

New translations strings.xml (Dari)
  resource/src/commonMain/composeResources/values-fa-rAF/strings.xml
Due: :resource

New translations strings.xml (Pashto)
  resource/src/commonMain/composeResources/values-ps-rAF/strings.xml
Due: :resource

Bump version to 1.7.0
  build.gradle.kts
Due: none

Make SingletonPersistenceManager public
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/internal/SingletonPersistenceManager.kt
  persistence/src/jvmTest/kotlin/glass/yasan/kepko/persistence/LocalKepkoPersistenceManagerTest.kt
Due: :persistence

Bump version to 1.7.1
  build.gradle.kts
Due: none

Create `KepkoThemeContract` for serializing a full Kepko theme configuration
  serialization/src/commonMain/kotlin/glass/yasan/kepko/serialization/contract/KepkoThemeContract.kt
Due: none

Move ButtonContractTest to commonTest
  serialization/build.gradle.kts
  serialization/src/commonTest/kotlin/glass/yasan/kepko/serialization/contract/ButtonContractTest.kt
Due: none

Create KepkoThemeContractTest
  serialization/src/commonTest/kotlin/glass/yasan/kepko/serialization/contract/KepkoThemeContractTest.kt
Due: none

Bump version to 1.7.2
  build.gradle.kts
Due: none

Keep `ModalBottomSheet` navigation bar color on Android
  component/src/commonMain/kotlin/glass/yasan/kepko/component/ModalBottomSheet.kt
  foundation/src/androidMain/kotlin/glass/yasan/kepko/foundation/system/DialogNavigationBarContrast.android.kt
  foundation/src/androidMain/kotlin/glass/yasan/kepko/foundation/system/DialogScrim.android.kt
  foundation/src/androidMain/kotlin/glass/yasan/kepko/foundation/system/DialogWindow.android.kt
  foundation/src/commonMain/kotlin/glass/yasan/kepko/foundation/system/DialogNavigationBarContrast.kt
  foundation/src/nonAndroidMain/kotlin/glass/yasan/kepko/foundation/system/DialogNavigationBarContrast.nonAndroid.kt
Due: :foundation, :component

Update dependencies
  gradle/libs.versions.toml
Due: none

Upgrade yarn lock for Kotlin 2.4.20
  kotlin-js-store/yarn.lock
Due: none

Add Tokyo Night color palettes
  NOTICE
  README.md
  foundation/src/commonMain/kotlin/glass/yasan/kepko/foundation/color/ColorTokens.kt
  foundation/src/commonMain/kotlin/glass/yasan/kepko/foundation/color/Colors.kt
  foundation/src/commonMain/kotlin/glass/yasan/kepko/foundation/theme/ColorPalette.kt
  resource/src/commonMain/composeResources/values/strings.xml
  resource/src/commonMain/kotlin/glass/yasan/kepko/resource/Strings.kt
  sample/composeApp/assets/readme/ColorPaletteTokyoDayReadmePreview.png
  sample/composeApp/assets/readme/ColorPaletteTokyoNightReadmePreview.png
  sample/composeApp/src/jvmTest/kotlin/glass/yasan/kepko/sample/readme/ColorPaletteReadmePreview.kt
Due: :resource, :foundation

Add pink color palettes
  NOTICE
  README.md
  foundation/src/commonMain/kotlin/glass/yasan/kepko/foundation/color/ColorTokens.kt
  foundation/src/commonMain/kotlin/glass/yasan/kepko/foundation/color/Colors.kt
  foundation/src/commonMain/kotlin/glass/yasan/kepko/foundation/theme/ColorPalette.kt
  persistence/src/jvmTest/kotlin/glass/yasan/kepko/persistence/PersistentPreferenceThemeScreenTest.kt
  resource/src/commonMain/composeResources/values/strings.xml
  resource/src/commonMain/kotlin/glass/yasan/kepko/resource/Strings.kt
  sample/composeApp/assets/readme/ColorPaletteBabyPinkReadmePreview.png
  sample/composeApp/assets/readme/ColorPaletteDarkPinkReadmePreview.png
  sample/composeApp/assets/readme/ColorPaletteHotPinkReadmePreview.png
  sample/composeApp/src/jvmTest/kotlin/glass/yasan/kepko/sample/readme/ColorPaletteReadmePreview.kt
Due: :resource, :foundation, :persistence

Improve pink color tokens contrast
  foundation/src/commonMain/kotlin/glass/yasan/kepko/foundation/color/ColorTokens.kt
Due: :foundation

Update dependencies
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/regenerate-snapshots.yml
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
Due: none

Mark Tokyo Night and Pink color palettes as experimental
  persistence/src/commonMain/kotlin/glass/yasan/kepko/persistence/internal/ColorPaletteExtensions.kt
Due: :persistence

Update source file strings.xml
  resource/src/commonMain/composeResources/values/strings.xml
Due: :resource

New translations strings.xml (Romanian)
  resource/src/commonMain/composeResources/values-ro-rRO/strings.xml
Due: :resource

New translations strings.xml (French)
  resource/src/commonMain/composeResources/values-fr-rFR/strings.xml
Due: :resource

New translations strings.xml (Spanish)
  resource/src/commonMain/composeResources/values-es-rES/strings.xml
Due: :resource

New translations strings.xml (Afrikaans)
  resource/src/commonMain/composeResources/values-af-rZA/strings.xml
Due: :resource

New translations strings.xml (Arabic)
  resource/src/commonMain/composeResources/values-ar-rSA/strings.xml
Due: :resource

New translations strings.xml (Catalan)
  resource/src/commonMain/composeResources/values-ca-rES/strings.xml
Due: :resource

New translations strings.xml (Czech)
  resource/src/commonMain/composeResources/values-cs-rCZ/strings.xml
Due: :resource

New translations strings.xml (Danish)
  resource/src/commonMain/composeResources/values-da-rDK/strings.xml
Due: :resource

New translations strings.xml (German)
  resource/src/commonMain/composeResources/values-de-rDE/strings.xml
Due: :resource

New translations strings.xml (Greek)
  resource/src/commonMain/composeResources/values-el-rGR/strings.xml
Due: :resource

Path conditions:
  :resource: any of: resource/src/**
  :foundation: any of: foundation/src/**
  :component: any of: component/src/**
  :persistence: any of: persistence/src/**
